[2019-02-21 00:39] ijt opened #1370 "pubsub: no longer assume persistence in conformance tests"
NATS core doesn't work this way. The client side subscriptions have to be set up before msgs are sent to the topics in order for the client subscriptions to get the messages.

[2019-02-21 00:45] ijt commented on #1370
Also, something has to be receiving from the subscriptions while the sending is happening. I suspect we'll have to do something different than the current ReceiveBatch calls to make this work.

[2019-02-21 02:00] ijt commented on #1368
Fair enough. Let's try your approach.

On Wed, Feb 20, 2019, 3:00 PM Derek Collison <notifications@github.com>
wrote:

[2019-02-21 02:58] tv42 commented on #886
Another argument would be having fewer dependencies pulled in. At least with Go modules on go1.12rc1, the list of packages that had their metadata was very long, and the delay on my current LTE internet connection was long enough that I seriously considered not using this library and hardcoding the exact blob provider I plan to use.

[2019-02-21 03:57] derekcollison commented on #1368
I have implemented the driver and necessary interfaces but things of course do not pass, so will look to work through those tomorrow. Thx.

[2019-02-21 06:16] ijt commented on #1368
Great. Glad to hear about this progress.

On Wed, Feb 20, 2019, 7:58 PM Derek Collison <notifications@github.com>
wrote:

[2019-02-21 17:57] derekcollison commented on #1368
Maybe a message should have knowledge if it requires an ack. pubsub.Message.RequiresAck() bool.

[2019-02-21 20:21] ijt commented on #1368
I'm not sure how that would be an improvement over having just pubsub.Message.Ack() that does a no-op on some providers. I can see a downside though: having to check that before calling Ack all the time.

[2019-02-21 21:58] derekcollison commented on #1368
Possibly not, but if I was reading someone's code and just saw an Ack that seemed to return no error I would probably think it did something. That make sense? I would rather see something like..

[code]

[2019-02-21 23:11] derekcollison opened #1377 "pubsub: ReceiveBatch() does not have optimal behavior"
### Is your feature request related to a problem? Please describe.

ReceiveBatch is the driver to receive messages. It passes in a context and a maxMessages. In an optimal state this function should tell me a desired return state, number of messages wanted, and then let the context's deadline dictate how long I should wait to reach that state.

In the simple TestSendReceive while implementing the

[2019-02-21 23:39] #1363 closed

[2019-02-21 23:57] ijt opened #1378 "all: make a new subpackage for at-most-once pubsubs like NATS core, Redis, ZeroMQ"
The existing `pubsub` package is an awkward fit for NATS core, Redis pubsub, and ZeroMQ for the following reasons:

1. At-most-once pubsub providers do not require or directly support acknowledgment. Acking would have to be a no-op, which could be misleading.
2. At-most-once pubsub providers allow freely publishing messages to topics with any string for their name, like `connection.Publish("topic1

[2019-02-22 00:22] ijt commented on #1368
I don't think that works well from the perspective of app developers. They would have to scratch their heads about whether to include that logic every time they write code that receives a message.

The evidence that I see so far points towards needing a separate Go CDK subpackage to support at-most-once providers. I filed an issue for that: #1378. Closing this issue as redundant with that one.

[2019-02-22 00:26] derekcollison commented on #1378
I like the general idea. I think that these systems, at least NATS, don't only do pub/sub but layer RPC on top of it which is useful to developers, so may consider adding that as a general API.

[2019-02-22 00:57] ijt commented on #1378
If it can be layered on top, do you think it would make sense to put this RPC functionality into a utils subpackage, like `pubsublite/pslutils`?

[2019-02-22 01:57] derekcollison commented on #1378
Feels core to me, but maybe others will have an opinion.

[2019-02-22 08:36] ShawnShoper opened #1383 "Can't download the dependcies"
use cmd go get github.com/google/wire/cmd/wire. The go get first download the `astuil` `packages` ect.
but the `golang.org/x/tools/go` can't not to access.
so what can i do for use the `wire` project

[2019-02-22 08:42] #1383 closed

[2019-02-23 03:22] tamalsaha opened #1385 "blob/all: Bucket.Exists(ctx, key string) (bool, error)"
I am looking for a way to test if a `key` exists or not. It is sort of like File.Exists api. Is there a way to do this currently? If not, can this be supported without reading the full file?

[2019-02-25 14:50] jba commented on #1377
Sorry for the delay, Derek. I just got back from vacation today.

The problem with using the context deadline is that it might represent the maximum amount of time a client is willing to wait before canceling the operation. For instance, the context argument to `Receive` could represent a timeout from a client elsewhere on the network. Of course, callers of `Receive` could always create and pass i

[2019-02-25 15:04] derekcollison commented on #1377
The small timeout is not correct IMO. What I implemented was we pull all that is available in the client. If we have at least one we return. If we do not have any we will go into a wait based on the context. If the context does not have a deadline I believe we return an error.

[2019-02-25 15:15] jba commented on #1377
That sounds fine, except that it should be OK to pass a context with no deadline, and that should mean "wait forever". That's how most Go functions that take contexts work.

[2019-02-25 16:24] derekcollison commented on #1377
I could never imagine writing any production code that could block forever. IMHO.

[2019-02-25 17:23] josephlewis42 opened #1386 "all: Consider adding an Auditing API"
### Is your feature request related to a problem? Please describe.

As far as I can tell there's no cross-cloud way to write audit events which would make building certain types of servers much easier.

### Describe the solution you'd like

A function I could call to populate the "Who did what to whom?" audit entry and have that logged to the appropriate cloud's audit system to be searchable at a

[2019-02-25 17:26] vangent commented on #1385
`Bucket.Attributes` is the cheapest way to determine whether a blob exists:

https://godoc.org/gocloud.dev/blob#Bucket.Attributes

[code]

I'll leave this open to consider adding an explicit `Exists` call as a wrapper for that to make this more obvious.

[2019-02-25 17:45] #1310 closed

[2019-02-25 17:45] #1304 closed

[2019-02-25 18:35] #1122 closed

[2019-02-25 18:56] jba commented on #1370
What if that isn't true? Does the server just drop messages on the floor? It doesn't cache them at all?

[2019-02-25 18:58] zombiezen commented on #1357
I have verified that setting `AWS_REGION` will fix the issue. I'll send a PR to update.

Interestingly, the `~/.aws/config` file is not consulted [unless you set `AWS_SDK_LOAD_CONFIG` to true](https://godoc.org/github.com/aws/aws-sdk-go/aws/session#hdr-Sessions_from_Shared_Config). I'm leaning towards having the default session that the URL opener uses (as well as what's in the Wire provider sets)

[2019-02-25 19:30] jba commented on #1377
Not forever; until an event occurs, whose occurrence we can't _a priori_ bound by a fixed time.

PubSub systems are great examples of that. I want to receive all the messages from this subscription, as long as I'm running. My only purpose in life is to receive a message, process it, and wait for the next one. What should my context timeout be? An hour? But the topic is only published to on Sundays

[2019-02-25 19:42] jba commented on #1377
Actually, those are both bad examples in that the events occur at known intervals. Imagine some event that occurs rarely, with no obvious upper bound.

[2019-02-25 20:44] derekcollison commented on #1377
I think its ok for now in how you guys intended it and how we implemented it for go-cloud. Closing for now, feel free to open back up if needed.

[2019-02-25 20:44] #1377 closed

[2019-02-25 20:45] vangent commented on #1386
Hi @josephlewis42 , could you reference a few cloud provider APIs that would implement this? E.g., which AWS / GCP / Azure APIs would this cover?

[2019-02-25 20:47] ijt opened #1391 "pubsub: add aws support to gcmsg sample"

[2019-02-25 20:50] ijt opened #1392 "samples: panic on bad subscription urls with gcmsg"
$ gcmsg sub rabbitpubsub://guest:guest@localhost:5672/topics/test-topic
panic: runtime error: index out of range

goroutine 1 [running]:
main.parseSubscriptionURL(0x7ffeefbff0ca, 0x3b, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, ...)
	/Users/issactrotts/gocloud.dev/samples/gcmsg/url.go:88 +0x5a9
main.(*subCmd).sub(0xc0000b1368, 0x15f92e0, 0xc0000b0008, 0x7ffeefbff0ca, 0x3b, 0x15f3980, 0xc0000c0008, 0x

[2019-02-25 21:08] josephlewis42 commented on #1386
Hi @vangent,

It looks like I was mistaken, I thought access to Stackdriver audit was public. It looks like the same goes for AWS CloudTrail and Azure's Audit Logs.

[2019-02-25 21:08] #1386 closed

[2019-02-25 21:12] vsaroopchand commented on #1315
I can help with this implementation. I already did a review but found some interesting dependencies.  BTW, the service to wrap is the Azure KeyVault, the SDK is [here](https://github.com/Azure/azure-sdk-for-go/tree/master/services/keyvault/v7.0/keyvault)

[2019-02-25 21:25] vsaroopchand commented on #1305
Relational or Non-relational? The Azure Relational DB (AWS RDS equivalent) is Azure SQL which is a PaaS SQL service. The Non-relational service is CosmosDB which offers a MonboDb Driver Impl. along with a non-sql API. The CosmosDB sample is [here](https://github.com/Azure-Samples/azure-sdk-for-go-samples/tree/master/cosmosdb); the Azure SQL sample is [here](https://github.com/Azure-Samples/azure-s

[2019-02-25 21:44] shantuo commented on #1315
Thanks @vsaroopchand ! KeyVault looks like the perfect candidate for this.

[2019-02-25 22:05] ijt commented on #1370
Following up on our chat offline, I'm closing this out since we agreed to at least explore the possibility of having a new API for non-persistent messaging systems.

[2019-02-25 22:05] #1370 closed

[2019-02-25 22:44] vangent commented on #1352
This is done.

[2019-02-25 22:44] #1352 closed

[2019-02-25 22:55] eliben commented on #1274
I was thinking where to move the provider/API-agnostic part of the documentation of `As`. One option is the landing page, but a better option may be just the big package comment in `doc.go`. This seems like too low-level detail-y for the landing page, and has the advantage of not having to link to non godoc/github resources from the code.

The `docs.go` package comment could have a section named "

[2019-02-25 23:46] vangent commented on #1274
Per meatspace discussion, I think it will be useful to have an explicit example per concrete API, ideally for each type of 'As' supported by that API.

[2019-02-25 23:57] eliben commented on #1274
OK, next steps:

1. Move user-facing `As` documentation from `design.md` into `doc.go`
2. Add examples of `As` usage for concrete types

[2019-02-26 00:01] #1392 closed

[2019-02-26 02:16] vangent commented on #1391
We might as well wait until we have URL support for `pubsub` to do this; we'll probably get it for free then. Assigning to Tuo to verify.

[2019-02-26 02:18] ijt commented on #1391
I feel some urgency about it because I want to use this sample for the Go
SF talk on Wednesday.

On Mon, Feb 25, 2019 at 6:16 PM Robert van Gent <notifications@github.com>
wrote:

[2019-02-26 02:19] vangent opened #1401 "pubsub/tests: revert change #1365"
https://github.com/google/go-cloud/pull/1365

It was done to support pubsub providers that don't require provisioning of topics/subscriptions because they don't have persistence, but we've since decided to do that in a separate package (#1378), so the change isn't needed.

[2019-02-26 02:19] vangent commented on #1364
We're going to make a new package for this, so no change needed here.

[2019-02-26 02:19] #1364 closed

[2019-02-26 02:23] #1109 closed

[2019-02-26 02:24] vangent commented on #1017
We're working on this now; search issues for "docstore".

[2019-02-26 02:25] vangent commented on #1043
Obsolete.

[2019-02-26 02:25] #1043 closed

[2019-02-26 02:25] vangent commented on #28
Obsolete.

[2019-02-26 02:25] #28 closed

[2019-02-26 02:26] #1017 closed

[2019-02-26 03:13] ijt commented on #1391
I think I will just make a fork of this sample in my own private repo for the talk. Then there is no pressure on this.

[2019-02-26 03:43] #1401 closed

[2019-02-26 20:09] #1270 closed

[2019-02-26 20:21] zombiezen commented on #1305
This is specifically referring to relational databases. Does Azure Relational DB only support MSSQL, or does it host MySQL/PostgreSQL as well?

[2019-02-26 20:22] #1385 closed

[2019-02-26 20:39] vangent opened #1405 "pubsub: add a local implementation that works across process boundaries"
We currently have `mempubsub`, but it only works with topics / subscriptions fully contained within a process. If I have one application that only sends messages, and another application that only receives them, we don't have a local testing story (other than a RabbitMQ local server, which is pretty heavyweight).

We could:
* add a `filepubsub`, using the filesystem to store messages
* update `mem

[2019-02-26 22:46] ijt opened #1408 "samples: gcmsg fails on GCP PubSub when empty lines are entered"
To reproduce the issue, run gcmsg pub on a GCP topic, then hit enter to send an empty message. It fails and the program exits:
[code]
This makes for a glitchy demo.

[2019-02-27 00:41] vangent commented on #1327
I've done some searching for AMQP record-replay and haven't found anything.

[2019-02-27 00:41] #1327 closed

[2019-02-27 00:58] #1408 closed

[2019-02-27 01:17] vsaroopchand commented on #1305
There are managed services for both [PostgresSQL ](https://azure.microsoft.com/en-us/services/postgresql/)and [MySQL](https://azure.microsoft.com/en-us/services/mysql/). I am going to test the cloudpostgres package with an Azure PostgresSQL instance to see if that can be refactored to support Azure. There might be some differences in ports, etc. but should be possible unless you prefer a separate

[2019-02-27 15:50] asim commented on #1405
Within Go Micro we hack this by using our service discovery abstraction along with the transport e.g multicast dns and point to point http. I'd advise adding http pubsub where one can act as a broker for others.

[2019-02-27 15:53] asim opened #1411 "Naming convention"
All implementation packages appear to have the higher level abstraction name as a suffix. This seems redundant and actually syntactically not very nice. Ideally it should be stripped so `pubsub/mempubsub` becomes `pubsub/memory`. Any thoughts?

[2019-02-27 16:01] jba commented on #1411
The problem is that only the last component of the path is used in the importing file, so it can be hard to understand what package a symbol comes from when looking at the code. That's especially a problem for common names like `test`, which is why you see package paths like `net/http/httptest`. We decided to follow that principle throughout.

[2019-02-27 16:21] asim commented on #1411
Thanks for clarifying.

[2019-02-27 16:32] asim commented on #1411
Sorry not to bother you but here's an example refactor at the high level https://github.com/asim/go-cloud. Personally I think its a much cleaner approach but I can understand where you're coming from.

[2019-02-27 16:32] #1411 closed

[2019-02-27 16:58] eliben commented on #1411
Asim, in your refactor if I want to import the Azure blob and Azure pubsub, I end up with:
[code]
So you'll need to rename the imports in all importing file to something, otherwise "azure" collides with itself and also says nothing about what kind of API it is.

[2019-02-27 17:04] asim commented on #1411
I guess its a tradeoff in terms of where you want to provide convenience or readability. I don't think its too much of an issue for the user to have named imports in the case where these do collide.

[2019-02-27 19:42] vangent commented on #917
Dupe of #1174.

[2019-02-27 19:42] #917 closed

[2019-02-27 19:42] vangent commented on #1027
Dupe of #1174.

[2019-02-27 19:42] #1027 closed

[2019-02-27 21:01] zombiezen commented on #1305
Thanks for the links. From quickly browsing the docs, it looks like Azure's offering is much closer to RDS than Cloud SQL in terms of code required: Azure serves using a [CA not in the roots](https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl). The connection code (which should be in a separate package) should have a hook for the CA certificate fetching, and then open the connection

[2019-02-28 00:16] jba commented on #1368
Robert and I just revisited the ideas here. We now think it might work to support ack-less providers with the same API, like so:
- The driver interface will have a `HasAck` method (all names open to bikeshedding).
- The concrete `Subscription` type will also have a `HasAck` method that just delegates to the driver. (Note: the method is on `Subscription`, not `Message`.)
- `Ack` will panic if calle

[2019-02-28 01:05] ijt commented on #1368
@jba, what you have there is better than checking before every ack, but as far as I can tell it does nothing to support transient topics or subscriptions. It sounds like making the existing API more complicated without the gain in functionality that we would have by having a specialized API for at-most-once providers.

Acklessness is only one aspect of these providers, and not a very important one

[2019-02-28 02:18] vangent commented on #1368
What do think we need to do to support those? IIUC, if we provide `OpenTopic` and `OpenSubscription` constructors (like we do for other drivers), they will work. `mempubsub` does this today in fact.

[2019-02-28 14:27] jba commented on #1368
@ijt, what's the "gain in functionality"? It seems like an at-most-once API would have less functionality.

[2019-02-28 14:37] jba commented on #1368
@ijt, maybe one thing you mean is the extra convenience from not having to name subscriptions. Looking again at your PR (#1380), you have
[code]
in the concrete type. But I noticed that NATS has the ability to have separate "queues" for a topic, where each queue gets all the messages (see [`Subscription.Queue`](https://godoc.org/github.com/nats-io/go-nats#Subscription)). To support that, we would

[2019-02-28 14:58] jba commented on #1405
@asim, I think that's essentially what we mean by `mempubsub` in server mode. But you're probably right in that it should be a separate package, even if it uses the same data structures as `mempubsub`.

[2019-02-28 15:47] derekcollison commented on #1368
I think persistence is an implementation detail. Where I think you are focused is whether or not a system will redeliver a message or not under different circumstances, e.g. not connected, dropped the message, crashed, etc. In those cases the clients need a way to tell the system they are done, i.e. Ack(). Some systems with callback semantics do this for you once the callback completes. So many ti

[2019-02-28 17:17] ijt commented on #1368
@vangent, the way we have `OpenTopic` and `OpenSubscription` is with non-portable funcs that are not part of the concrete `pubsub` API. To bring the functionality I'm thinking of into the existing pubsub API, I guess there would have to be new types like `TopicMaker` and `SubscriptionMaker` with corresponding driver interfaces. But then there would have to be some way to allow for how this isn't s

[2019-02-28 17:21] derekcollison commented on #1368
When you are trying to put a common API around multiple products and feature sets the result usually does not give you or your users really what they want. Creating a Topic/Subject a priori is product specific, some do and some all dynamic creation.

[2019-02-28 17:21] ijt commented on #1368
@jba, it's not just a matter of convenience. Being able to transiently subscribe is functionality that we don't currently support in a portable way. What you're suggesting is something that would only support it in an un-portable way, if I'm reading this right. But why do that when it's possible to do it in a portable way?

[2019-02-28 17:34] vangent opened #1416 "aws: set SharedConfigEnable to true in aws.Config"
Some earlier discussion here:
https://github.com/google/go-cloud/issues/1357#issuecomment-467135726

TL;DR, users commonly "log in" to AWS using `aws login`, but the AWS Go libraries don't consult the resulting `~/.aws/config` file unless you set the `AWS_SDK_LOAD_CONFIG` environment variable to true, or unless the `aws.Config` field `SharedConfigEnable` is set to true.

We should do that in URL o

[2019-02-28 17:34] #1357 closed

[2019-02-28 17:35] vangent commented on #1357
Note: https://github.com/google/go-cloud/issues/1416 is tracking the `SharedConfigEnable` issue.

[2019-02-28 18:20] vangent opened #1417 "runtimevar: consider providing a way to set a default config value at construction time"
So that `Latest` never returns an error or blocks.

[2019-02-28 18:47] #1416 closed

[2019-02-28 20:24] jba commented on #1417
Another idea: `Latest` could itself take a default value, to return if it would otherwise block or error.

[2019-03-01 00:19] vangent commented on #1306
I sent a PR with some fixes for `blob`.

Additionally, `pubsub` tests are failing, I think due to timing issues with the batchers:

[code]

[2019-03-01 00:31] vangent opened #1423 "pubsub: NewTopic should take a batcher constructor like NewSubscription"
And the driver tests should use predictable batchers, not the default timing-based ones.

[2019-03-01 00:31] vangent commented on #1306
Filed https://github.com/google/go-cloud/issues/1423 for the pubsub stuff.

[2019-03-01 11:46] shantuo opened #1425 "blob/fileblob: add test and example for relative path"
Also documentation wherever needed.

[2019-03-01 15:43] ijt opened #1426 "server: associate application logs with requests"
During my talk at Go SF, @rakyll asked whether the server package correlates application logs with the HTTP requests that generated them. App Engine has this feature on some of its runtimes, and it's quite useful.

[2019-03-01 17:51] zombiezen opened #1428 "pubsub/awspubsub: data race in TestSendReceiveTwo"
From a build of commit 23b849aeb3e52c7d33c38f2d4a6ae89f71dcdb65, I saw this error on `TestConformance/TestSendReceiveTwo`:

[code]

/cc @ijt @jba

[2019-03-01 18:00] zombiezen opened #1429 "postgres: spin up hermetic database to connect to in test"
Problem: `postgres.URLOpener` does not actually run its test right now.

The `TestOpen` function needs a PostgreSQL database to connect to. At the moment, it seems to work on Travis Linux (not macOS), but I don't actually understand why. It would be better for it to create a PostgreSQL database with a Unix socket, start the database server as a subprocess, connect to it, then clean up the process

[2019-03-01 18:57] ijt commented on #1428
This looks like a race condition within the Martian proxy code. I'll see if I can write a repro case.

[2019-03-01 19:17] jba commented on #1368
I think you could ask that about any of our APIs. Why not provide a portable way to make a `blob.Bucket`, for example? Or for that matter, non-transient topics and subscriptions?

[2019-03-01 19:20] ijt commented on #1428
I think the problem is related to these two lines:
[code]

[2019-03-01 19:30] ijt commented on #1428
Hey, @jba, why did you grab this?

[2019-03-01 19:30] #1302 closed

[2019-03-01 20:05] Zyqsempai commented on #1175
@zombiezen great news, thank you for merging it.
The next step will be, to implement the same for plain MySql? Or better to continue with postgreSql?

[2019-03-01 20:17] ijt commented on #1428
Discussed with @jba offline. Grabbing it back with friendly intent.

[2019-03-01 20:20] zombiezen commented on #1175
Your call. I'm happy to review either of those.

[2019-03-01 21:12] ijt commented on #1428
Line 246 of drivertest.go is at the end of testSendReceive. @zombiezen are you sure that was testSendReceiveTwo? Can you send a link?

[2019-03-01 21:48] zombiezen commented on #1428
I don't have a link to the exact build log because I re-ran Travis. The failure fired indeterminately, partially blocking a PR from an external contributor I was trying to merge in, so I re-ran.

You should be able to fetch the particular commit linked above to try to reproduce the issue. I did copy+paste the error message verbatim from the build log before I re-ran the test.

[2019-03-01 22:22] ijt commented on #1428
Well, I think the race is somewhere else, but I don't really know at this point and need to focus on some other work. Handing it back to @jba.

[2019-03-01 22:38] ijt commented on #1368
@zombiezen pointed out offline that creating a topic or subscription within an at-least-once provider allocates resources that stick around on the server until something deletes them. So to write code for these providers that dynamically creates topics and subscriptions, you'd want to add something to garbage collect them. Using defer for that wouldn't work well because your app could be unceremon

[2019-03-02 06:38] shantuo opened #1435 "all: URL openers should ignore unsupported query parameters"
It seems to be a common practice that unsupported query parameters get thrown away instead of error out. We should consider doing that. Thoughts welcome.

[2019-03-04 19:45] #1423 closed

[2019-03-04 19:49] vangent commented on #691
This was done in https://github.com/google/go-cloud/pull/1200. I'll file a separate issue for additional performance improvements for pubsub.

[2019-03-04 19:49] #691 closed

[2019-03-04 19:51] vangent opened #1441 "pubsub: portable type performance improvements for Receive"
#691 tracked one performance improvement for `pubsub`: dynamically setting the batch size for `Receive`.

Other ideas that were discussed on that issue included:

* Currently, we don't call `ReceiveBatch` until the message queue is empty. We could make the call earlier to avoid periods where there aren't any messages for the application to process. TBD: what does "earlier" mean?

* We could call `

[2019-03-04 19:54] vangent commented on #1378
We're also tracking this in #1368, so closing. Creating a subpackage is one option but not one that we're currently leaning toward.

[2019-03-04 19:54] #1378 closed

[2019-03-04 19:59] vangent opened #1442 "pubsub/azure: support option to not lock/ack messages"
Apparently the Azure client supports a mode where receiving a message automatically deletes it from the server (as opposed to what we've currently implemented, which is Lock + delete after Ack).

Once #1368 is done, we should support the "auto delete" mode.

[2019-03-04 20:00] vangent opened #1443 "runtimevar: implement the health.Checker interface for Variable"
Returning healthy only when there's a "good" value for the variable.

[2019-03-04 22:23] ijt opened #1447 "pubsub: AWS driver hangs if Receive is called before Send"
This is reproducible using https://github.com/google/go-cloud/pull/1446:
[code]

[2019-03-04 22:31] ijt commented on #1441
Why is this P1? Has anyone reported this as a problem?

[2019-03-04 23:48] ijt commented on #1447
This appears to be a duplicate of https://github.com/google/go-cloud/issues/1328.

[2019-03-05 01:51] #1315 closed

[2019-03-05 02:31] vsaroopchand commented on #1305
I'll take this up now that Secrets is merged.

[2019-03-05 17:04] vangent opened #1453 "all: allow URL openers to have an API-specific prefix to the scheme"
E.g., `blob+mem://` should work as well as `mem://`.

This will be useful for determining which API an arbitrary URL belongs to.

Implementation thoughts:

* The API-specific `Register` function (e.g. `blob.RegisterBucket`) could always register the requested scheme as well as `<api name>+<scheme>`.

* Alternatively, the API-specific `Open` function could check for the known `<api name>+` prefix a

[2019-03-05 17:06] vangent opened #1454 "pubsub: consider putting a finalizer on Message to complain if a message isn't acked"
https://golang.org/pkg/runtime/#SetFinalizer

We could `log.Printf` something if a `Message` is finalized without ever having been acked, as a debugging aid.

Down side is that the user may have chosen not to `Ack` on purpose, so this might work better after we support `Nack`.

[2019-03-05 17:07] vangent opened #1455 "pubsub: support Nack"

[2019-03-05 17:07] vangent opened #1456 "runtimevar: update Guestbook and examples to use Latest"
Depends on #996.

[2019-03-05 18:28] BurntSushi opened #1459 "blob/fileblob: invalid cross-device link when TMPDIR is on different partition than file path"
### Describe the bug

On Linux, when `TMPDIR` is on a different partition than the bucket's file path, the initial write of bytes will succeed, but closing the bucket will fail with "invalid cross-device link." This appears to be due to the fact that `os.Rename` is used to move a file from `TMPDIR` to its ultimate location, but this may cross a file partition. (For example, when your `TMPDIR` is o

[2019-03-05 18:43] vangent commented on #1459
Hi @BurntSushi thanks for the detailed error report! I believe another contributor already fixed this in #1156. If you update to version `v0.10.0` or `v0.11.0` you should get the fix.

[2019-03-05 18:43] #1459 closed

[2019-03-05 18:51] BurntSushi commented on #1459
@vangent Awesome, thanks! Apologies for the noise.

[2019-03-05 19:22] clausti commented on #1453
Tentatively: at scheme registration seems like the the correct place for this solution.

[2019-03-05 19:55] shantuo opened #1461 "internal/testing: make listdeps more robust"
Currently we use `listdeps.sh` to generate the dependency list and compare the result with `alldeps` during our Travis run. This requires very specific behaviors among various steps so we require to use Go 1.11.5 for the deps generation and a specific version of "sort" (Travis uses distribution from Ubuntu trusty)

A couple of options we might consider:

- Write a Go program to list the dependenci

[2019-03-05 20:03] vangent opened #1462 "blob/fileblob: address TODO about windows"
There's a TODO in the code:

[code]

Address this.

It may also be in `filevar.go`.

[2019-03-05 21:33] ijt commented on #1447
Closing this out.

[2019-03-05 21:33] #1447 closed

[2019-03-05 21:41] ijt commented on #1112
The code was rolled back because of a very occasional goroutine leak, not because of anything seriously wrong with it.

[2019-03-06 01:31] jba commented on #1378
We've decided to support at-most-once pubsub providers using our existing `pubsub` package. The main reason is that we can't neatly divide systems into at-most-once and at-least-once. For instance, both Kafka and Azure Service Bus can be configured to act as either, on a per-subscription basis.

[2019-03-06 01:41] jba commented on #1368
Here's our current design:
- The portable API won't change at all.
- Drivers that don't support ack will accept a function from the user to be used as a replacement. That function should be a required argument to the subscription constructor (`OpenSubscription` or `CreateSubscription`). The constructor should panic if the argument is nil.

Advantages:
- It's impossible to accidentally use an at-mo

[2019-03-06 04:43] #1328 closed

[2019-03-06 14:31] gedw99 commented on #1405
The multicast DNS approach is great.

I am also curious about using NATS streaming as a local implementation too ? Seems to make sense since it's pure golang. Still needs a db underneath it of course.

We use NATS this way for local development currently.

[2019-03-06 14:45] gedw99 commented on #1368
Regarding garbage collection using an extra service and hence needing to depend on K8 is a slippery slope.

[2019-03-06 15:00] diegohce opened #1466 "pubsub: add MQTT driver"
Add MQTT driver to pubsub package to ease message exchange between microservices and IoT stuff.

[2019-03-06 18:29] clausti opened #1469 "internal/docs: move design.MD content somewhere more user-friendly"
Per @eliben's [comment](https://github.com/google/go-cloud/pull/1464#issuecomment-469902370) on the PR to update design.md, move this sort of documentation to a more user-friendly/accessible place.

[2019-03-06 18:36] clausti opened #1470 "all: update all documentation to use "portable type""
To date, the project documentation has used "user facing type" and/or "concrete type" to refer to the backing-service-provider-agnostic struct types in the portable API packages. ( _e.g._ `blob.Bucket`).

But as "concrete type" has another, more broadly recognized Go meaning of "not an interface type", it would be beneficial to be more precise with our language, and we should update all of our doc

[2019-03-06 18:39] eliben commented on #1469
It probably makes sense to leave some of `design.md` where it currently is but +1 on evaluating what should be moved out. #1448 recently moved out the escape hatches stuff, as an example

[2019-03-06 19:25] jba commented on #1466
@diegohce, this isn't on our roadmap, but if you're interested in contributing, we'd love to talk.

[2019-03-06 19:30] jba commented on #1455
We should support `Nack` as a method on `Message`, as we do `Ack`.

Instead of exposing deadline extension, we should do it behind the scenes. The only thing we need to expose is an option for the maximum time we'll extend the deadline.

[2019-03-06 19:31] diegohce commented on #1466
I'll give it a try and let you know if I dare to publish :-)

[2019-03-06 20:27] vangent commented on #1443
Blocked on adding `Latest` (#993).

[2019-03-06 21:20] eliben opened #1474 "all: consistent naming of parameters in ErrorAs"
Our `ErrorAs` methods refer to the second parameter either as `i` (blob, runtimevar, etc.) or `target` (pubsub).

These should be made consistent. Even though `target` is less common, it seems more descriptive to me so I would prefer to align all names to `target`.

Objections?

[2019-03-06 21:21] eliben commented on #1474
@zombiezen @vangent

[2019-03-06 21:29] vangent commented on #1474
+1 for being consistent.

I'd lean toward `i` though, because that's what's used in all of the other `As` functions.

[2019-03-06 22:55] eliben commented on #1474
I don't feel strongly about this. Will send PR to align to `i`

[2019-03-06 22:59] jba commented on #1466
One important point: we're probably not going to accept more contributions to this repo, so I'd suggest creating a new repo. We're still interested in reviewing the code and helping you develop, and we are seriously considering giving third-party contributions gocloud.dev import paths. In other words, even though your code would live in a separate repo, users would still import "gocloud.dev/pubsub

[2019-03-06 23:10] vangent opened #1476 "all: see if we can share more code in the URL implementations"
* Possibly in the driver-specific code.
* Possibly in the portable API code.

There's a lot of duplication, but it's a bit tricky because all of the types are different.

@jba wants to take a look.

[2019-03-06 23:13] #1474 closed

[2019-03-06 23:31] vangent commented on #1435
@zombiezen @jba thoughts on this?

[2019-03-06 23:49] zombiezen commented on #1435
That practice seems common for URLs in the web sense, but it seems like it could hide misspellings of query parameters if we ignore them in this context.

[2019-03-07 01:17] jacekjagiello commented on #1003
@vangent I would like to contribute, can I tackle this issue?

[2019-03-07 01:20] vangent commented on #1435
@clausti @eliben any thoughts? Sorry, I should have asked everyone or no one :-).

[2019-03-07 01:38] jba opened #1477 "docstore: verify that a provider's docstore codec matches the native one"
A docstore provider must supply a codec (encoder/decoder) that maps a specified set of Go types to the provider's native type. (The words "marshal" and "unmarshal" are also commonly used in place of "encode" and "decode".) Most interesting is the mapping of structs to the native type.

Example: The Go client for Amazon DynamoDB has a type called [`AttributeValue`](https://godoc.org/github.com/aws/

[2019-03-07 02:57] jba commented on #1435
I agree with @zombiezen. Check everything you can.

[2019-03-07 04:06] diegohce commented on #1466
Hey! Sounds fair to me! Thanks! I'll fork this repo and probably get back to you when I have something decent. Is that ok?

[2019-03-07 14:15] Scapal opened #1482 "blob: support for OpenStack Swift"
Could you add support for OpenStack Swift object storage in the blob package ?
I'm currently using github.com/ncw/swift for those.

[2019-03-07 16:17] jasongerard commented on #732
I'm doing a lot of work in go with kafka right now. I'd love to lend a hand to this.

[2019-03-07 16:27] vangent commented on #1003
Sure, that would be great! The `runtimeconfigurator` driver is probably the closest place to start from.

[2019-03-07 16:32] jba commented on #1466
Sure. You're welcome to fork for development purposes, but the end state should be a repo that contains only your driver, at top level. I believe that's the only way we can give it the right import path.

[2019-03-07 16:38] jba commented on #732
@jasongerard That would be great! You should start by browsing around the pubsub tree. The Rabbit driver will probably be the closest match, in that we'll want it to be tested against a local Kafka instance rather than a cloud service.

Our current plan is to have contributed drivers live outside this repo, but we are considering giving them `gocloud.dev` import paths. So in your case, you'd creat

[2019-03-07 16:57] clausti commented on #1435
@zombiezen, @jba what would *not* ignoring them look like, in this context?

[2019-03-07 17:01] diegohce commented on #1466
Ok. Great! I'll start digging on guidelines, other pubsub drivers code and Go MQTT implementations. This will be my first contribution to any Go related team so, thanks in advance for your patience :-)

[2019-03-07 17:45] vangent commented on #1435
@clausti 	-- the current code processes URL parameters it knows about, and returns an error if the URL has parameters it *doesn't* know about.

Example: https://github.com/google/go-cloud/blob/master/blob/fileblob/fileblob_test.go#L220

[2019-03-07 18:49] clausti commented on #1435
I think I'm in favor of the error for unknown params in the URL openers. When serving web requests, query params can be arbitrarily added by anyone, and one ought to expect there will, stochastically, be extraneous garbage best ignored. But the identifiers fed to the CDK url openers are expected to be the user's own config, and it does seem better to me, to let them know if something unexpected is

[2019-03-07 20:40] vangent commented on #1435
Sounds like we're unanimous on checking, so closing.

[2019-03-07 20:40] #1435 closed

[2019-03-07 20:58] vangent opened #1485 "runtimevar/blobvar: buckets that are opened by URLOpener should be closed when the Variable is closed"

[2019-03-07 21:47] jasongerard commented on #732
@jba sounds good. I'll start digging through the other implementations and hit back with questions as needed.

[2019-03-07 22:51] jba commented on #1331
Fixed by #1354.

[2019-03-07 22:51] #1331 closed

[2019-03-08 02:00] vangent opened #1487 "all: finish URLMux refactor"
@jba started a refactor in #1479, applying it to `pubsub`; move the common utility code to `internal/` somewhere and apply it to the other packages.

[2019-03-08 02:07] vangent opened #1488 "all: make URL parameters more natural for URLOpeners"
Escaping URLs in URL parameters is icky, and there are several providers where URLs are needed (e.g., `etcdvar` for the etcd server, `blobvar` for the `OpenBucket` URL), and it would be nice to be able to use the main URL itself more naturally (e.g., `etcd+http://my.etcd.server:8080?var=myvar` instead of the current `etcd://myvar?client=http://my.etcd.server:8080`).

This requires some work in the

[2019-03-08 02:42] vangent commented on #996
Reopening:

--- FAIL: TestVariable_Watch (0.14s)
    runtimevar_test.go:167: Watch interrupted by Close returned context canceled, want ErrClosed
FAIL

[2019-03-08 15:13] vsaroopchand commented on #1442
Yes, please assign to me. I am familiar with this feature. Also, I did send a PR to add Bulk AKS in the Azure SDK. This will simplify the current implementation.

[2019-03-08 16:38] vangent commented on #1442
Thanks @vsaroopchand !

See #1368 for our strategy for this:

[code]

It sounds like "auto delete" mode will be an `Option` for the Azure client. So, there should be an accompanying `Option` to provide the function, and the constructor should fail if "auto delete" is enabled but no function is provided (IMHO, panic is too strong here, but @jba may disagree; we can discuss on the PR). The function

[2019-03-08 16:39] vangent commented on #1368
@jba 	is this done?

[2019-03-08 17:20] zombiezen opened #1492 "blob: Bucket does not have a Close method"
All of our other APIs have `Close` methods with the exception of `Bucket`. I don't think that we should constrain implementations of `Bucket` to not be able to hold long-lived connections, so I think bucket driver types and the portable type should support `Close`, even if all current implementations no-op.

(This would be a breaking change, but one that is fairly easy to correct for driver types.

[2019-03-08 17:31] eliben commented on #886
I will take a stab at evaluating this, seeing if we can split off some of the heaviest dependencies first.

[2019-03-08 17:37] zombiezen commented on #1492
Actually, looking at scope and other workload, I think I can take this one.

[2019-03-08 17:38] tamalsaha commented on #886
In the process, if you can divide this into multiple repos, that will be really great! For example, I am primarily interested in the blob store pkg. That will make it simpler for me or anyone else, I suppose.

[2019-03-08 17:48] eliben commented on #886
@tamalsaha I'm curious to hear about your use case. Why would multiple repos simplify things for you? Are you worried about the dependencies pulled when `go get`-ing the CDK, or something else?

[2019-03-08 18:06] vangent commented on #1453
Note: the prefix needs to include not just the API ("pubsub"), but also the type ("topic" or "subscription"). It might be fine for some APIs to allow a default type.

[2019-03-08 18:06] tamalsaha commented on #886
`Are you worried about the dependencies pulled when go get-ing the CDK, or something else?`

- Yes.

[2019-03-08 18:08] eliben commented on #886
This is precisely what splitting into multiple modules attempts to address. AFAIU you shouldn't much care if it comes from the same github repo, as long as you only pull the dependencies you want.

[2019-03-08 18:13] #996 closed

[2019-03-08 18:14] tamalsaha commented on #886
Yeah. Though I read this @FiloSottile https://twitter.com/FiloSottile/status/1096165600890707973

[2019-03-08 18:26] FiloSottile commented on #886
My opinions on multi-module repositories are mostly informed by the opinions of @ianthehat, @bcmills and @jayconrod. Multi-repo is probably stricly better than multi-module repos.

This part will be mostly solved by proxies in Go 1.13, because only the go.mod file will be fetched for dependencies that you don't actually need to build.

[2019-03-08 18:41] zombiezen opened #1495 "pubsub/awspubsub: test is slow"
The AWS Pub/Sub tests (and to a lesser extent, the `pubsub` package tests) take roughly ~30 seconds to run. Example build: https://travis-ci.com/google/go-cloud/jobs/183234212#L1155-L1156

I haven't dug too much into root cause, but I'm unsure what could be taking this long in a replay test. @jba, any insight here?

[2019-03-08 18:53] vangent commented on #1495
I noticed this too, and spent a little bit of time looking into it. It's the new replayer (in `httpreplay.NewReplayer`); I think it spins up a local proxy and that takes some time.

[2019-03-08 20:23] jba commented on #1368
Yes, fixed by #1467.

[2019-03-08 20:28] jba commented on #1442
The constructor returning an error is fine.

But a simpler design is to have just a single option, the ack function. If non-nil, it implies you want auto-delete mode. (In other words, follow the same convention as `driver.Subscription.AckFunc`.)

The hard part is finding a good name for the option. Maybe `AckFuncForReceiveAndDelete`?

[2019-03-08 20:33] jba commented on #1488
nit: That's not a URL, or even a URI. I don't think `url.Parse` will work on it.

[2019-03-08 20:50] jba commented on #1495
When I run locally all the tests, including the conformance tests, finish in under 6s. A significant fraction of that is starting the replayer: it varies between 160 - 700ms, and we start one for each conformance test.

I sent #1497 to see what the startup times are on Travis.

[2019-03-08 20:54] #1443 closed

[2019-03-08 20:54] zombiezen commented on #1485
I only realized after I made the review comment that buckets can't even be closed. (I'm introducing this in #1492, since I think it's an oversight.) I'm fixing this in #1496.

[2019-03-08 20:57] vangent commented on #1488
The scheme is ` a sequence of characters beginning with a letter and followed by any combination of letters, digits, plus (+), period (.), or hyphen (-)`, so I think it's valid.

`url.Parse` does work on it.

[2019-03-08 20:57] zombiezen opened #1498 "runtimevar/blobvar: add test for closing bucket in URLOpener"
Follow-on from #1496 (and the parent issue #1485): I'm closing the buckets in the `URLOpener`, but writing a test for it is difficult since one has to create a fake `URLOpener` and `Bucket` in order to verify that the `Close()` method gets called. This is a test that requires verification of interaction, not state.

[2019-03-08 20:59] jba commented on #1488
Oh, I see. Cool. Never saw a `+` in a scheme before.

[2019-03-08 21:08] vangent opened #1500 "all: consider adding String functions to portable APIs for debugging"
Ideas: about what to return:

* useful state about the portable API itself
* the type of the driver
* driver.String()

[2019-03-08 21:09] vangent commented on #1500
This might be useful for testing as well, especially for URLOpeners. Right now it's hard to test that a URL opened the resource that it looks like it's opening, because the `Open` function returns the portable API type and there's no way to get from there to the driver type.

[2019-03-08 21:10] jba commented on #1495
Even with `-race` and `-cover`, it still only takes a little over 7s locally for me.

[2019-03-08 21:12] zombiezen commented on #1495
Weird. I definitely could reproduce locally...

[2019-03-08 22:08] jba commented on #1495
I'm running `go test -v -race -cover gocloud.dev/pubsub/awspubsub -count 1 `. Still getting around 6-7s.

#1497 travis run shows that indeed, proxy startup is most of the time.

Options:
- Do nothing (30s is still only a small part of the 10m it takes for a run).
- Only start the proxy once for all conformance tests. This would imply a single replay file instead of one per test.
- Revert back to t

[2019-03-08 22:12] #1487 closed

[2019-03-11 03:21] qaisjp opened #1510 "all: "improved" installation command"
### Describe the bug

I am writing my first `gocloud.dev/blob` integration. Doing `go get gocloud.dev` wasn't enough for me (with my ancient GOPATH), and neither was `go get -u gocloud.dev`.

I ran into build errors as I had out of date packages, which `go get -u gocloud.dev` was supposed to upgrade.

Doing `go get -u gocloud.dev/blob` _instead_ then proceeded to download a bunch of new packages,

[2019-03-11 16:09] vangent commented on #1482
Hi @Scapal , thanks for you interest in the Go CDK!

As stated [here](https://github.com/google/go-cloud#contributing), we cannot support every cloud provider directly from the project; however, we encourage contributions in separate repositories. If you're interested in contributing an OpenStack Swift driver, let us know.

[2019-03-11 19:00] #1462 closed

[2019-03-11 20:32] vangent commented on #1500
We discussed this; sounds like not a great idea.

I'll open a separate issue for better testing for `URLOPeners`.

[2019-03-11 20:32] #1500 closed

[2019-03-11 20:34] vangent opened #1515 "all: improve testing for URLOpeners"
Today drivers test URLs by opening them and checking for error, but they don't really verify that the resource was opened with the correct arguments. Fix that.

[2019-03-11 22:01] #1470 closed

[2019-03-12 00:46] vangent commented on #1456
Examples are updated; Guestbook is blocked on a new release tag.

[2019-03-12 14:23] vsaroopchand commented on #1368
Not sure I fully agree with the proposal. Basically, you are proposing SDK users understand the different permutation of settings to toggle Ack/NoAck. Why not simply support OpenSubscription, OpenSubscriptonNoAck (name up for debate) and let the SDK author setup the driver accordingly?

[2019-03-12 14:25] vsaroopchand commented on #1442
@jba see my comment on #1368

[2019-03-12 16:19] vangent commented on #1368
@vsaroopchand Not sure I understand your question. Yes, we could make separate constructors, but why is that better than a single constructor with `Options`?

The main decision we made here was to support drivers that do auto-ack, but require the user to provide a function that is run when `Ack` is called -- so they can decide whether to panic, do nothing, log a warning, etc.

So, if we had a `Ope

[2019-03-12 17:49] vangent opened #1525 "pubsub: maxMessages stays 1 if message processing time is too fast"
We compute `maxMessages` based on the average processing time of messages:
https://github.com/google/go-cloud/blob/master/pubsub/pubsub.go#L375

The average processing time is updated here:
https://github.com/google/go-cloud/blob/master/pubsub/pubsub.go#L319

However, note that if the `time.Duration` for processing a message == 0, then the average processing time stays 0, and thus `maxMessages` st

[2019-03-12 18:02] vangent commented on #1306
I've confirmed that after the fix for #1525, the Windows build passes.

[2019-03-12 18:02] #1306 closed

[2019-03-12 18:05] pkgmain opened #1526 "blob/s3blob: minio writes not working"
### Describe the bug

s3blob writes to minio are failing silently. No errors returned, but nothing written to minio. Using the same `session.Session`, I can successfully write to minio with the aws sdk.

### To Reproduce

Create a session:
[code]

Function to use `session.Session` and `multi.File` to write blob with `blob/s3blob`:
[code]

## Expected behavior

If successful, a file should be in mi

[2019-03-12 18:22] pkgmain commented on #1526
The writer was not being closed.

[2019-03-12 18:22] #1526 closed

[2019-03-12 18:30] vangent opened #1528 "blob: consider putting a finalizer on Reader/Writer to complain if they aren't closed"
See #1454 for details about the finalizer.

#1526 is an example of how this might have helped a user debug.

[2019-03-12 18:31] vangent commented on #1526
Ah! That explains it.

I filed #1528 with an idea on how we could make debugging this easier.

[2019-03-12 19:10] clausti commented on #1510
Hi @qaisjp, thank you for your suggestion. After the release of go1.13, when module behavior for `go get` will be on by default, we will revisit this issue.

[2019-03-12 19:16] #1485 closed

[2019-03-12 19:16] #1492 closed

[2019-03-12 19:20] jba commented on #1368
I think @vsaroopchand's point is about ergonomics: it's confusing to have an `ackFunc` argument which you pass `nil` to in order to get Ack to work, and non-nil if you don't want Ack. I think the answer is careful documentation and examples.

[2019-03-12 19:23] #1525 closed

[2019-03-12 19:33] jba opened #1530 "docstore: consider making updating semantics more portable"
Say you have a document `{a: 1}` and you update it by setting the field `a.b` to 2. What happens?
- MongoDB: error
- Firestore: success, with the document `{a: {b: 2}}`

Since the `Update` call doesn't necessarily have the document, it can't know whether the intermediate fields of a field path (`a` in this case) are maps, so it can't know whether this call succeeds or not.

(I haven't looked at ot

[2019-03-12 19:40] vsaroopchand commented on #1368
Thanks for the feedback, I'll go with the recommended solution (ackFunc) & documentation.

[2019-03-12 21:13] eliben commented on #1274
Added a bunch of examples for sub-packages. Pubsub remaining. Will address that next

[2019-03-12 22:44] shantuo opened #1536 "secrets: add more conformance/provider specific tests to improve coverage"

[2019-03-13 15:39] #1174 closed

[2019-03-13 16:19] #1453 closed

[2019-03-13 18:08] derekcollison commented on #1368
At most-once-systems also differ in that they do not need an ack on a publish. Just FYI, so if you are exposing only the subscription side that might not be enough.

[2019-03-13 18:23] jba commented on #1368
That is a good point. Ideally, the NATS driver would wait for the write buffer to be flushed and return the resulting error. If not, we should carefully document that it's asynchronous, and there should be some way to get the error that eventually may result.

[2019-03-13 18:58] jba commented on #1368
Does the NATS server produce any sort of acknowledgement when it receives a published message?

[2019-03-13 19:14] derekcollison commented on #1368
The protocol supports it but none of the clients ask for verbose mode, does not change semantics of the system and slows things way down obviously.

[2019-03-13 19:29] jba commented on #1368
The problem is the same one as with ack: if someone thinks Send is guaranteed, and they start with a provider where it is, and then switch to one where it isn't, their system may break in subtle ways. Namely, messages that they think are safely in durable storage on the server are in fact not.

I think we need something like the ack function for topics. Maybe it could be an option that says whethe

[2019-03-13 19:50] derekcollison commented on #1368
Possibly. But I feel those truly familiar with at-least-once vs at-most-once do not need the additional complexity in the api.

[2019-03-13 20:39] vangent commented on #1515
Upon further review (and after simplifications by getting default connection info consistently from environment variables), most openers are pretty simple. I'll add specific tests for the non-trivial ones that aren't tested already.

[2019-03-13 21:10] vangent commented on #1488
Update: Most of those "URL as URL query parameter" requirements have gone away now that I've updated drivers to be more consistent with the suggestions [here](https://github.com/google/go-cloud/blob/master/internal/docs/design.md#urls) about having default openers get things from the environment.

The remaining one is in `runtimevar/blobvar`, which takes a `bucket` query parameter (it also keeps a

[2019-03-13 22:12] #1391 closed

[2019-03-14 16:19] vangent commented on #1456
Actually that's not true; for some reason I thought guestbook had a `.mod` file, but it doesn't.

[2019-03-14 16:20] #1456 closed

[2019-03-14 16:33] vangent commented on #1368
My two cents:

* @jba is right that a user's system may break in subtle ways if they switch from an "at-least-once" to "at-most-once" provider.
* I'm not sure there's anything we can do about it other than documentation. There's no way to support "guaranteed send" on an "at-most-once" provider; e.g., even if we waited for positive acknowledgement from the server when using NATS, that's still no gu

[2019-03-14 16:43] derekcollison commented on #1368
I agree things could change but that is present regardless of QoS. Any change in provider will potentially cause issues. APIs that try to cover many products always have this issue.

Nit, but not important in the long run. I can do guaranteed delivery if I am sending request/reply semantics over an at-most-one system.

For the replacement ack, this just makes the value of the API a bit less, more

[2019-03-14 16:44] derekcollison commented on #1368
Let me know concrete next steps though to get this PR merged and off both of our plates ;)

[2019-03-14 18:46] vangent opened #1554 "pubsub: add packagedoc to each driver about the semantics of send/receive"
See https://github.com/google/go-cloud/issues/1368#issuecomment-472951496 for context.

[2019-03-14 18:46] vangent commented on #1368
I filed #1554 to add package doc about semantics. The NATS PR has been submitted. I think we're in agreement about not changing anything in the API for the semantics of `Send`.

[2019-03-14 18:46] #1368 closed

[2019-03-14 18:59] #1515 closed

[2019-03-14 19:19] vangent opened #1556 "pubsub/nats: data race found by Travis"
[code]

[2019-03-14 19:29] vangent commented on #1556
@derekcollison this looks like a bug in NATS to me...

[2019-03-14 19:31] derekcollison commented on #1556
Will take a look..

[2019-03-14 19:32] vangent commented on #1556
@derekcollison I think maybe you need to lock `s.mu` here:
https://github.com/nats-io/go-nats/blob/master/nats.go#L2757

[2019-03-14 19:37] derekcollison commented on #1556
Yes found the area now, looking to put together a quick test that shows it in master and will fix. Thanks.

[2019-03-14 19:38] derekcollison commented on #1556
You running go 1.12?

[2019-03-14 19:44] vangent commented on #1556
Yes, I am running go 1.12, but Travis is running go 1.11, so it happens on both.

I can reproduce locally (with go 1.12) with

[code]

[2019-03-14 19:50] derekcollison commented on #1556
I got it, thanks. Fix coming in 5..

[2019-03-14 19:50] jba opened #1559 "pubsub: support NATS streaming"
Now that we have support for NATS, it would be nice to support NATS Streaming with the same driver. It would give users a choice between at-most-once and at-least-once NATS implementations.

@derekcollison would that be a lot work? Is that something you want to take on? (At your convenience, of course.)

[2019-03-14 19:51] derekcollison commented on #1556
Can you pull from master once the PR lands or do you need a release?

[2019-03-14 19:54] derekcollison commented on #1559
How would they chose?

[2019-03-14 19:55] vangent commented on #1556
Our `go.mod` references a release, so I think we'd prefer to wait for the next release to update it.

[2019-03-14 19:58] derekcollison commented on #1556
Sounds good.

[2019-03-14 20:12] shantuo opened #1561 "pubsub: rename package names to be their actual product name"
Carrying over the [discussion](https://github.com/google/go-cloud/pull/1544#discussion_r265356720) here. I propose to rename `awspubsub` to `awssnssqs`, `azurepubsub` to `azureservicebus` or `azuresb`. The idea is it is clear which product we implement since there might be more than one offering per provider. All of our other API's try to follow this convention. If we decide to do it we should pro

[2019-03-14 21:03] zombiezen commented on #1469
I always hold up [What nobody tells you about documentation](https://www.divio.com/blog/documentation/) as a pretty good article about how to think about documentation audiences. I think the current documents gives pretty good coverage for contributors:

-  **Tutorials:** Our workflow is GitHub, so we gain the benefit of lots of GitHub tutorials.
-  **How-to Guides:** CONTRIBUTING.md
-  **Explanat

[2019-03-14 21:47] shantuo commented on #1536
gcpkms and awskms is ~80%, the uncovered lines are mostly handling errors from failed client creation/API calling, since we have only tens of LOC in those files.

I have another PR for Vault and I think it might be ok to close this bug after that. @vangent WDYT?

[2019-03-14 21:54] zombiezen commented on #1426
This would definitely be useful for diagnostics. As others have observed, the main blocker is needing a prevailing Go logging library that takes in a `context.Context` such that we could associate log entries with trace spans.

Related issues: census-instrumentation/opencensus-specs#130 and census-instrumentation/opencensus-go#950.

[2019-03-14 21:58] vangent commented on #1536
SGTM

[2019-03-14 22:24] shantuo commented on #1536
I was going to add a test for vault's setup code for OpenKeeperURL with no environment variable set, but the init runs inside a `sync.Once`, the test will affect other tests for Open. I'm going to close this issue now. If we think there are other tests missing, we can re-open it or create separate issues.

[2019-03-14 22:24] #1536 closed

[2019-03-14 23:06] vangent commented on #1561
@jba I can do this if you think it's reasonable.

[2019-03-14 23:07] vangent commented on #1476
Done?

[2019-03-15 00:11] vangent opened #1567 "pubsub: consider dampening maxMessages"
Currently `maxMessages` for receiving batches of messages starts at 1, and is subsequently set to a value that should get enough messages to process in 2 seconds (capped at 1000):
https://github.com/google/go-cloud/blob/master/pubsub/pubsub.go#L408

At startup, and with fast message processing times, this means we go from a batch size of 1 to a batch size of 1000 in one step, based on the processi

[2019-03-15 00:12] jba commented on #1476
Yes.

[2019-03-15 00:12] #1476 closed

[2019-03-15 00:13] jba commented on #1561
If you both think it makes sense, then I'm fine with it. `awssnssqs` is a mouthful, though.

[2019-03-15 00:23] vangent opened #1569 "pubsub/azure: clean up testSBSubscription"
`testSBSubscription` is called from `ReceiveBatch`, I think some of these checks should move to the constructor and the expensive one should only happen once.

[2019-03-15 00:23] jba commented on #1559
Probably different constructor functions. E.g. `CreateStreamingTopic`, `CreateStreamingSubscription`.

[2019-03-15 00:26] vangent commented on #1556
I've disabled the flaky test for now.

[2019-03-15 00:28] derekcollison commented on #1556
ok we have the fix in master. Will look to do a release at some point and when we do I will submit a PR to you and the team.

[2019-03-15 00:29] derekcollison commented on #1559
I guess that is what I am questioning. If there is more and more provider specific stuff what does the abstraction layer really provide?

[2019-03-15 00:39] jba commented on #1567
Maybe a warmup period, à la [`ewma`](https://github.com/VividCortex/ewma/blob/master/ewma.go#L96)?

[2019-03-15 00:40] vangent commented on #1556
Thanks for the quick fix!

[2019-03-15 02:08] vangent opened #1570 "all: hook up apidiff to identify breaking changes"
https://github.com/golang/exp/tree/master/apidiff

Apparently @jadekler has hooked it up for the cloud.google.com/go repo.

@jba FYI

[2019-03-15 03:48] jadekler commented on #1570
The cloud.google.com/go part is still WIP, but we've implemented it in several other repos. PTAL https://github.com/google/go-genproto/blob/master/internal/kokoro/check_incompat_changes.sh for an example.

[2019-03-15 18:37] rakyll commented on #1426
For now, users are able to retrieve the span context from the incoming request via:

[code]

They can extend their app logs with the current span context.

[2019-03-15 19:13] vangent commented on #546
This is fixed!

[2019-03-15 19:13] #546 closed

[2019-03-15 20:36] zombiezen opened #1576 "internal/website: add how-to guides"
### Is your feature request related to a problem? Please describe.

The current documentation does not have many problem-focused documents. For example, if I want to store a blob, I would expect there to be a guide on how to use blob storage, perhaps with examples that include how to write a blob. Currently, one has to dig through examples in the API reference. I think there's room for improvement

[2019-03-15 20:40] zombiezen commented on #1469
I'm planning on addressing this by adding new pages to gocloud.dev. I will likely airlift appropriate portions of design.md to form the new content with some light editing.

[2019-03-15 20:44] zombiezen opened #1577 "internal/website: add tutorial content"
### Is your feature request related to a problem? Please describe.

The current samples and tutorials are hard to discover from gocloud.dev: it's buried in the content and isn't a firm call to action. Once the tutorial link is clicked, it takes the user to GitHub, where they can't find other documentation readily and have to navigate back to gocloud.dev.

### Describe the solution you'd like

Serv

[2019-03-15 20:54] jba commented on #1559
By leaving the setup to the providers, we can have smaller and more portable APIs.

So although there will be two more `Create` methods in the provider, and people have to write NATS-specific code to construct the right objects and pass them to those `Create` methods, they will end up with a `pubsub.Topic` and `pubsub.Subscription` that the bulk of the app can use portably.

[2019-03-15 20:59] zombiezen opened #1578 "internal/website: restructure layout to support more pages"
### Is your feature request related to a problem? Please describe.

#1469, #1576, and #1577 all propose introducing new documentation pages to gocloud.dev. The current Hyde theme is optimized around a sidebar of ~5 items, whereas we may quickly get to double-digit items.

### Describe the solution you'd like

I propose the site layout should reduce the size of the sidebar and organize the pages us

[2019-03-15 21:42] zombiezen commented on #1426
Ah sorry for the imprecision. What I mean to say is most logging libraries have function signatures like this:

[code]

So I'm not aware of a good hook point where we can ensure that logs get correlated. We could introduce our own logging package, but we don't have enough time to design a new portable API right now.

While researching my reply, I realized that the `requestlog` package does not inc

[2019-03-15 21:50] zombiezen opened #1581 "requestlog: include trace ID in Entry and Stackdriver export"
### Is your feature request related to a problem? Please describe.

Currently, when a request is logged to Stackdriver using the [`requestlog` package](https://godoc.org/gocloud.dev/requestlog), it does not include the trace or span ID information (see [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry) fields). These log entries then won't be able to use features of St

[2019-03-15 22:05] jba commented on #1477
This was addressed at the driver level by #1478. I don't think we need to leave the bug open for each driver.

[2019-03-15 22:05] #1477 closed

[2019-03-15 22:13] #1429 closed

[2019-03-15 22:23] zombiezen commented on #1488
I have thoughts, but sadly nothing conclusive over the last few days.

One consideration is whether all blobvars will be contained in the same bucket for an application. If we were to use an environment variable, then users cannot use the `runtimevar.OpenVariable` function to obtain a `blobvar` in the multi-bucket scenario, which seems an unfortunate consequence. Using an environment variable make

[2019-03-15 22:31] jba opened #1583 "docstore/dynamodocstore: support set types"
I noticed that the `dynamodbattribute` package's [Marshal](https://godoc.org/github.com/aws/aws-sdk-go/service/dynamodb/dynamodbattribute#Marshal) method will encode a `[][]byte` as a "binary data set". We don't support DynamoDB's set types in docstore.

If we natively (meaning, with the `dynamoattribute` package) encode a `[][]byte` and try to decode it with the docstore codec, I believe we'll cu

[2019-03-15 23:33] vangent opened #1584 "pubsub: batch size never changes when application doesn't call `Ack`"
We use timing info we've gleaned about how long it takes to process messages to figure out how big the `ReceiveBatch` batch size should be, but we only gather the timing info when `Message.Ack` is called. If the application never calls `Ack`, we never updating the timing info and always request batch size = 1.

@jba

[2019-03-15 23:37] vangent commented on #1488
My intuition is that configuration for an application is unlikely to reside in multiple buckets. I'd go further and say that most applications will only have 1-2 configurations they are watching.

Yes, this is true, but I don't think it's any different than the `etcdvar` or `vault` or `rabbit` URLs not having everything about the resource they are attaching to.

I feel like we should err on the si

[2019-03-16 01:43] vangent commented on #1584
WDYT @jba ? It's not obvious how to get this timing without `Ack`.

BTW, we never updated the godoc for `Ack` to discuss that maybe you shouldn't call it.

Overall it's making me feel like revisiting the `ackFunc` idea. I still like it for `Nack` though.

Maybe if we rename `Message.Ack` --> `Close`?

[2019-03-16 16:37] vangent commented on #1584
I think we can estimate batch sizes by timing the interval between calls to `ReceiveBatch` instead of each individual message.

[2019-03-16 16:55] vangent opened #1588 "travis: add a check that "gofmt -s" doesn't change anything"

[2019-03-16 22:42] jba commented on #1584
That was exactly my original implementation. Issac felt it was inaccurate. Our discussion begins at https://github.com/google/go-cloud/issues/691#issuecomment-458712721.

Strongly opposed to renaming Ack to Close.

[2019-03-18 15:48] #1588 closed

[2019-03-18 15:51] vangent opened #1591 "internal/context: consider not wrapping sentinel errors like context.Canceled"
In `pubsub/benchmark_test.go`:

[code]

@jba responded:

[code]

[2019-03-18 17:48] jba commented on #1591
The reason retry doesn't return `context.Canceled` or `context.DeadlineExceeded` is that they're particularly uninformative when retrying. If you keep getting a retryable error, you'll retry forever or until the context is done. If retry just returned the context error, you'd never know which error caused you to retry forever. That would make it hard to, for example, reclassify supposedly transien

[2019-03-18 18:18] jba commented on #1591
The PR linked above is a solution to this problem that uses the new error features. The `xerrors.Is` and (in 1.13) `errors.Is` functions will recognize the `Is` method on an error. I define an `Is` method on the error that retry returns to make it match against the context errors.

[2019-03-18 19:50] jba opened #1596 "pubsub: integrate with seaweedfs"
Add a pubsub implementation to the [seaweedfs notification system](https://github.com/chrislusf/seaweedfs/tree/master/weed/notification).

See chrislusf/seaweedfs#882.

[2019-03-18 20:53] #1578 closed

[2019-03-18 21:33] vangent commented on #1591
My proposal was specifically to return the unwrapped `context` error only if no retries were done, which I think avoids the problem you describe.

[2019-03-18 21:37] vangent commented on #1591
The PR looks fine to me though.

[2019-03-18 21:37] #1591 closed

[2019-03-18 21:43] #1442 closed

[2019-03-18 21:47] #1570 closed

[2019-03-18 22:13] zombiezen commented on #1488
I suppose, but it would be a URL format change later, likely requiring a different scheme.

[2019-03-18 22:18] zombiezen commented on #1469
I think the user-relevant parts to understand are:

- URLs
- Portable type + driver
- Escape hatches
- Dev+Ops roles

To be clear, the existing sections are fine where they are now, but probably will cross-link with each other.

[2019-03-18 22:18] zombiezen commented on #1576
The list of guides I've brainstormed so far:

-  How to store and access blobs
-  How to store and access secret information
-  How to access dynamic configuration data
-  How to connect to a hosted SQL service
-  How to set up an HTTP server
-  How to set up a Pub/Sub subscriber program
-  How to provision resources for my server

For any of the portable API how-tos, it should include:

-  How to

[2019-03-18 22:20] zombiezen opened #1598 "samples: create HTTP quickstart/tutorial"
### Is your feature request related to a problem? Please describe.

The current tutorials show a simple CLI (samples/tutorial) and a complex HTTP server (samples/guestbook), but do not show a simple HTTP server.

### Describe the solution you'd like

A tutorial that creates an HTTP server.

[2019-03-18 22:21] zombiezen commented on #1598
This is a follow-on from #1577.

[2019-03-18 22:58] vangent opened #1600 "pubsub/azurepubsub: conformance tests don't pass in "autodelete" mode"
By "autodelete" mode, I mean creating the Service Bus subscription with `servicebus.SubscriptionWithReceiveAndDelete` and using the `AckFuncForReceiveAndDelete` option set to something non-nil.

The conformance test that fails creates a topic, and two subscriptions for that same topic. It looks to me like using "autodelete" mode means that only one of the subscriptions gets the message. The test e

[2019-03-18 23:16] vangent commented on #1488
I think we could just add the "bucket" URL parameter back, it would be backwards compatible. Again, this is the same deal as many other providers.

I'm going to send a PR for this change.

[2019-03-18 23:39] vsaroopchand commented on #1569
A couple of issues with this - the unit tests expect ReceiveBatch to fail if topic or subscription does not exist at Receive time, not at OpenSubscription time. Although I don't like testSbSubscription, unless the tests change I don't see how you can do without it.

[2019-03-18 23:50] vangent commented on #1569
The tests pass with the PR I sent... The verification that the subscription exists does happen in `ReceiveBatch`, not at `Open` (although there are `nil` checks in `Open`).

[2019-03-18 23:57] vangent commented on #1584
How about timing between calls to `driver.ReceiveBatch` instead of trying to time messages explicitly? So, we'd do something like keep track of how many messages are in the queue when `ReceiveBatch` returns, and the time the call returned, and then right before we make the next call to `ReceiveBatch`, divide the delta in messages by the delta in time; this should do a pretty good job of getting th

[2019-03-19 00:09] vsaroopchand commented on #1600
You are correct, the message will be delivered at most once.

[2019-03-19 00:18] vsaroopchand commented on #1569
PR looks good. BTW, we recently released the SB SDK v0.3.0 which adds batch disposition, telemetry and other bug changes. The batch disposition will simplify SendBatch to a one liner. I will send a PR with these changes once #1599 is merged

[2019-03-19 15:55] vangent commented on #1600
Hmm, that's unexpected. We are expecting that the "no ack" mode is the same as if the application did an ack.

In this test, a single topic is created, and then two subscriptions to that topic. The test verifies that messages sent to the topic are received by both subscriptions.

It works fine in the normal "ack" mode: 3 messages are sent to the topic, and 6 messages are received, 3 from each topi

[2019-03-19 15:55] vangent commented on #1600
@jba FYI

[2019-03-19 16:42] #1569 closed

[2019-03-19 16:52] jba commented on #1600
Everything in [this overview](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-queues-topics-subscriptions#topics-and-subscriptions) suggests that every subscription gets a copy of the message.

I can't find anything definitive in the docs.

[2019-03-19 16:53] #1488 closed

[2019-03-19 16:53] #1498 closed

[2019-03-19 18:30] gedw99 opened #1604 "samples/gcmsg: add NATS"
Can NATS be added to the pubsub example ?.

[2019-03-19 18:31] vangent commented on #1604
Sure!

[2019-03-19 18:33] vangent commented on #1604
However, note that NATS doesn't yet support an URL opener (#1563 is in flight), so until that PR is submitted you won't be able to use it with `gcmsg`.

[2019-03-19 20:24] #1604 closed

[2019-03-19 21:29] #1561 closed

[2019-03-19 23:17] #1096 closed

[2019-03-20 01:16] vsaroopchand commented on #1600
Let me investigate and confirm the behavior.

[2019-03-20 07:06] dyxushuai opened #1615 "runtimevar: Use `sync.RWMutex` or `atomic.Value` instead of `sync.Mutex` to improve the performance of concurrent reading"
Not a Bug!
[L139](https://github.com/google/go-cloud/blob/master/runtimevar/runtimevar.go#L139): mu sync.Mutex
[L281-282](https://github.com/google/go-cloud/blob/master/runtimevar/runtimevar.go#L281-L282): Latest
[L298-299](https://github.com/google/go-cloud/blob/master/runtimevar/runtimevar.go#L298-L299): CheckHealth
Use `sync.Mutex` for concurrent reading may become a performance issue when huge

[2019-03-20 12:00] jba commented on #1596
PR at chrislufs/seaweedfs#895.

[2019-03-20 17:58] zombiezen commented on #1615
@dyxushuai Good observation!

@vangent It does seem that one could reduce contention in steady state with a `RWMutex` for these cases. We would likely want to benchmark/load test before making such a change.

[2019-03-20 18:24] #1528 closed

[2019-03-20 18:55] felipeweb opened #1618 "all: https://gocloud.dev is out"
### Describe the bug

![image](https://user-images.githubusercontent.com/4874009/54711300-6104f280-4b28-11e9-81f9-21bea05d22ae.png)

[2019-03-20 19:12] felipeweb commented on #1618
back

[2019-03-20 19:12] #1618 closed

[2019-03-20 19:47] zombiezen opened #1621 "internal/website: prevent future meta tag outages"
### Is your feature request related to a problem? Please describe.

We recently had an issue where a package was introduced without the corresponding `<meta>` tags being introduced to the website. This would break users trying to `go get` a particular new package. I would like to prevent future recurrences of this problem.

### Possible solutions

-  Add a Travis pre-merge check that verifies that

[2019-03-20 22:05] #1305 closed

[2019-03-20 23:51] #1290 closed

[2019-03-21 01:04] vangent commented on #1615
I'll take a look.

[2019-03-21 01:32] #1303 closed

[2019-03-21 15:26] gedw99 opened #1627 "sql/BigQuery: Is it possible to support it ?"
### Is your feature request related to a problem? Please describe.

Need bigquery for massive datasets.
On premise and in the cloud postresql is fine.
But we currently stream out data to bigquery and so it would be good for the same golang SQL code to work with both postresql and bigquery.

I looked into Standard SQL support for BigQuery which is there. I think its 2011 standard ?

[2019-03-21 17:48] #1577 closed

[2019-03-21 17:56] zombiezen commented on #1627
I think the idea of having a `database/sql` driver for BigQuery is a good one, but I don't think the Go CDK is the right place for it. Go CDK only creates types for services that are reasonably similar across a few different cloud providers, and the only other similar platform to BigQuery that I'm aware of is Snowflake. As such, I don't think this is in scope for the Go CDK.

This would make for a

[2019-03-21 17:56] #1627 closed

[2019-03-21 20:20] eliben opened #1633 "docs: layout off on mobile for tutorials with code"
Tutorial pages on gocloud.dev look like this on a Pixel 3: https://imgur.com/a/BfASnmA

[2019-03-21 21:18] y0ssar1an opened #1635 "all: git.apache.org/thrift.git went away. Need to update opencensus.io when a fix is available."
### The problem
[code]
The `git.apache.org/thrift.git` repo doesn't exist anymore, because the Thrift team moved to GitHub.

Your dependency on it [here](https://github.com/google/go-cloud/blob/6baa0528a468fb11a25ff4b94a32f7a4e3dca709/go.sum#L26,L27) comes from [`opencensus-go`](https://github.com/census-instrumentation/opencensus-go). Please update when they've provided a fix. Thanks!

[2019-03-21 21:36] #1621 closed

[2019-03-21 21:53] #1633 closed

[2019-03-22 16:06] eliben commented on #1274
I believe this is now fixed. If something specific is found missing, let's open new issues for that

[2019-03-22 16:06] #1274 closed

[2019-03-22 17:21] zombiezen commented on #1635
(For reference: census-instrumentation/opencensus-go#1077 is the upstream issue.)

@y0ssar1an, can you confirm that error message for me? In a [recent build](https://travis-ci.com/google/go-cloud/jobs/187077349#L678), we are not seeing the same error. The error you're seeing indicates a failure to make a TCP connection to git.apache.org:443, whereas `curl https://git.apache.org/ > /dev/null` works

[2019-03-22 17:26] vangent opened #1642 "pubsub/awssnssqs: do multiple ReceiveMessage calls in parallel"
Today, `driver.ReceiveBatch` gets called with `maxMessages`, which can be quite large (e.g., 1000), but the `awssnssqs` driver only ever gets 10 messages at a time, due to a constraint on the underlying RPC `ReceiveMessages`.

Update the driver to do multiple ReceiveMessages in parallel to improve throughput.

[2019-03-22 17:27] vangent opened #1643 "pubsub/gcppubsub: do multiple Pull calls in parallel"
Today, `driver.ReceiveBatch` gets called with `maxMessages`, which is currently capped at 1000. The `gcppubsub` driver can only get 1000 messages at a time, due to a constraint on the underlying RPC `Pull`.

Update the driver to do multiple `Pull` in parallel when `maxMessages` is > 1000 to improve throughput.

[2019-03-22 17:28] vangent opened #1644 "pubsub: call ReceiveBatch before there are 0 messages left"
Today, the `pubsub` portable type waits until the queue of messages is empty before calling `ReceiveBatch` to get more. It should make the RPC earlier to avoid dead time.

[2019-03-22 17:31] vangent opened #1645 "all/samples: updated aws/gcp/azure packages with Wire examples"
These packages should have examples that verify we can write wire injectors using the supported portable types, and have Wire generate code for them.

Ideally there would be one simple injector using default credentials, and another one providing credentials.

[2019-03-22 17:52] #1567 closed

[2019-03-22 17:52] #1584 closed

[2019-03-22 19:21] jba opened #1647 "docstore: add revisions to dynamo driver"

[2019-03-22 19:21] jba opened #1648 "docstore: add revisions to mongo driver"

[2019-03-22 19:27] eliben opened #1649 "internal/contributebot: gardening of issues with no responses for a period of time"
We use the "needs info" label to mark issues where additional input is required from the user/reporter. It would be nice to do periodical gardening of these issues to close them after some inactivity (similarly to how the Go project repository does it).

[2019-03-22 19:39] jba opened #1650 "reduce API "real estate" due to URLs"
While the OpenXXX functions that take URLs are useful, the URLMux type and methods bloat our APIs. Here's the godoc for pubsub:

![image](https://user-images.githubusercontent.com/18483045/54848532-e5d24680-4cb7-11e9-9bf8-9d03c3b07d03.png)

About a quarter of the API is about URLs. runtimevar is also about a quarter; secrets, a half. Blob is not too bad: about an eighth.

Very few users will use o

[2019-03-22 19:40] jba opened #1651 "docstore: handle URLs"
Add URL support:
[code]
Also the URLMux type. (But see #1650).

[2019-03-22 19:42] jba opened #1652 "docstore: Create should return AlreadyExists if doc exists"
The Create action should return an error with code AlreadyExists if the document exists.

Currently the conformance test checks that we get an error, but it doesn't check the code.

Also, I don't think any of the drivers return the right code.

[2019-03-22 19:47] zombiezen opened #1653 "secrets: add Keeper.Close method"
/cc @shantuo @clausti

### Is your feature request related to a problem? Please describe.

In the future, we may have secret keeper drivers that require resource cleanup or other such behavior. At the moment, there is no hook that a driver can expect to receive to signal such cleanup.

### Describe the solution you'd like

Similar to #1492, I think that the `Keeper` portable type and driver interf

[2019-03-22 20:28] jba opened #1654 "docstore: add an As method to `docstore.Collection`"

[2019-03-22 20:30] y0ssar1an commented on #1635
Ok, this turned out to be an issue with the internal company network :flushed: I'm able to reach `git.apache.org` from outside the company network, and `go build` is working fine. Sorry for the noise!

[2019-03-22 20:30] #1635 closed

[2019-03-22 20:32] jba opened #1655 "docstore: write examples"
In the `docstore` package there should be examples for:
- Collection.As
- A Collection.ActionList...Do sequence
- A query
- Collection.ErrorAs

Each driver should have an example for `OpenCollection` that includes standard code for creating the necessary arguments to `OpenCollection`.

[2019-03-22 20:32] jba opened #1656 "docstore: add Collection.ErrorAs method"

[2019-03-22 20:59] jba commented on #1455
I recommend you look at the `cloud.google.com/go/pubsub` client to see how it does ack deadline extension.

[2019-03-22 21:00] vangent commented on #1455
SGTM. I was going to do Nack first since it seems simpler.

[2019-03-22 21:50] jba commented on #1596
PR accepted.

[2019-03-22 21:50] #1596 closed

[2019-03-25 15:42] #1643 closed

[2019-03-25 17:05] #1642 closed

[2019-03-25 19:14] #1581 closed

[2019-03-25 19:28] jba opened #1660 "docstore: matching error specs with mongodb"
Docstore specifies the following behaviors, which seem impossible to satisfy in MongoDB with a single RPC:
- When writing a document with a revision, if the document doesn't exist a NotFound error is returned, but if it exists with the wrong revision then a FailedPrecondition error is returned.
- When deleting a document with a revision, if the document doesn't exist no error is returned, but if i

[2019-03-25 19:29] jba commented on #1660
@vangent @shantuo thoughts?

[2019-03-25 19:34] zombiezen opened #1661 "blob: small issues with example code"
While reviewing the `blob` API documentation for #1576, I found the following issues:

-  `gcsblob.Example_read` uses `return` in one error check, but `log.Fatal` in all the other error checks: https://github.com/google/go-cloud/blob/6482f3715c170669214c5cf4ba8421c51d772d30/blob/gcsblob/example_test.go#L36-L48
-  `s3blob.Example` shadows the AWS `session` package (`sess` would be a less confusing

[2019-03-25 19:35] jba commented on #1660
One other piece of the puzzle: the reason Delete doesn't return an error is to make it easier to use in bulk actions. Currently, the spec of `ActionList.Do` says that it returns on first error, with the number of successfully completed actions. A Delete that failed if a document didn't exist would be annoying to use in bulk delete situations where some of the documents might happen to already be d

[2019-03-25 19:42] zombiezen opened #1662 "secrets/awskms: NewKeeper docs don't make it clear what strings are acceptable"
The current documentation for `awskms.NewKeeper` is as follows:

https://github.com/google/go-cloud/blob/6482f3715c170669214c5cf4ba8421c51d772d30/secrets/awskms/kms.go#L135-L141

However, the link that it points to only shows where to find the information in the AWS console. It does not describe the expected format of the `keyID` string. In particular, it wasn't until I looked at the examples that

[2019-03-25 20:09] vangent commented on #1627
It appears there are available ODBC driver(s) for BigQuery that should allow you to create a `sql.DB` pointing to BigQuery, which you can then use to make SQL queries. `sql.DB` is a semi-portable type that comes with Go itself; the Go CDK provides some wrappers for instantiating `sql.DB` for various providers, but in this case you can certainly do that yourself. (`sql.DB` is only semi-portable bec

[2019-03-25 20:28] zombiezen opened #1664 "secrets/localsecrets: improve key input for URLs"
/cc @vangent @clausti

### Is your feature request related to a problem? Please describe.

The current implementation of `localsecrets.URLOpener.OpenKeeperURL` will use `Base64Key` or
`ByteKey`:

https://github.com/google/go-cloud/blob/6482f3715c170669214c5cf4ba8421c51d772d30/secrets/localsecrets/localsecrets.go#L72-L85

If the user provides secret material of exactly the correct size, then this U

[2019-03-25 20:29] jba opened #1665 "all: consider a big-data query API"
Something that abstracts:
- [Google BigQuery](https://cloud.google.com/bigquery)
- [Amazon RedShift](https://aws.amazon.com/redshift)
- [Azure Data Lake](https://azure.microsoft.com/en-us/solutions/data-lake)
- [Snowflake](https://www.snowflake.com) data warehouse

[2019-03-25 21:24] jba opened #1666 "mongodocstore: implement a record/replay proxy"
Possibly based on https://github.com/mongodb-labs/mongoproxy.

[2019-03-25 21:43] zombiezen opened #1667 "runtimevar: DecryptDecoder does not use the context of the Variable goroutine"
/cc @shantuo @vangent

### Is your feature request related to a problem? Please describe.

The Context used for [`DecryptDecoder`](https://godoc.org/gocloud.dev/runtimevar#DecryptDecode) will always be the one passed into `DecryptDecoder` instead of the Context used by the caller of the [`runtimevar.Decode` function](https://godoc.org/gocloud.dev/runtimevar#Decode).

The pressing issue this presen

[2019-03-25 22:48] zombiezen opened #1670 "secrets: CLI tool that encrypts/decrypts using our provider implementations"
@clausti @shantuo, I had this idea while I was writing guides, but I'm not sure whether it's a good one. This might be one for the Unplanned milestone.

### Is your feature request related to a problem? Please describe.

An application operator may need to encrypt data for use in an application later with `secrets.Keeper.Decrypt`. Right now, they'd either have to use the provider-specific API to p

[2019-03-25 22:59] zombiezen opened #1671 "runtimevar: description of obj parameter to NewDecoder too terse"
### Is your feature request related to a problem? Please describe.

The current doc for `runtimevar.NewDecoder` is https://github.com/google/go-cloud/blob/6482f3715c170669214c5cf4ba8421c51d772d30/runtimevar/runtimevar.go#L434-L440

The description of the `obj` parameter simply says that it is "an object of type obj". This wasn't enough information for me to determine what I should pass to that par

[2019-03-25 23:08] vangent commented on #1660
Another option would be to optimistically try the write/delete; if it succeeds, great, we're done. If it fails, make another `Get` RPC with just the ID to determine which error to return.

[2019-03-25 23:16] vangent commented on #1660
+1 to having Delete return an error for nonexistent documents; the user can always choose to ignore it.

I don't quite follow the discussion for `Do`. What do the different providers do for errors during bulk actions?

[2019-03-25 23:42] jba commented on #1660
Good idea about only making the RPC in the error case. Did that.

Providers' treatment of bulk actions differs more than I thought. Firestore processes them atomically and in order; dynamoDB says it might do them in parallel; mongo supports both modes.

Since Firestore is atomic, you get either one error or none. It looks like mongo tells you exactly which actions failed. I believe that the way bu

[2019-03-26 01:45] vangent commented on #1660
SGTM.

[2019-03-26 04:56] shantuo commented on #1660
+1 on relaxing the semantics.

Dynamo's batch operations are not atomic and returns the unprocessed items.

[2019-03-26 09:51] jba commented on #1660
I don't think we can use Dynamo's batch operations anyway. They don't allow conditions, which we need for revisions. We'll also need a condition on delete to make it return an error on not found.

[2019-03-26 10:09] jba commented on #1660
Thought about this idea overnight.

One of the motivations for sequential lists of actions is the ability to do certain small optimizations. For example, Dynamo's delete operation can return the document immediately before deletion, so
[code]
can be optimized to one RPC for Dynamo. But that assumes the actions are executed in order.

Also, we have the ability to do ordered writes in a single RPC f

[2019-03-26 12:46] jba opened #1674 "all: env vars aren't namespaced"
I don't think we're being good citizens in our choice of environment variable names:  we're stepping on the global namespace. E.g. `RABBIT_SERVER_URL`, `VAULT_SERVER_URL`. Perhaps these should have a `GOCDK_` prefix.

[2019-03-26 13:02] jba opened #1675 "docstore: support As for action lists and queries"
Docstore users will want an escape hatch before running actions or queries. For example, before executing an action, a user might want to modify the actual provider request to use a provider-specific feature not supported by docstore.

Docstore supports action lists, written as
[code]
as well as convenience function for single actions:
[code]
Queries will have a fluid API like action lists:
[code]

[2019-03-26 15:21] zombiezen commented on #1576
Another potential how-to, based on [this SO answer](https://stackoverflow.com/a/55360616/111866): how to use provider-specific attributes for common types. Such guide sections probably will show a common scenario with one provider, and then point to reference to indicate how this can be done for other providers.

[2019-03-26 16:11] zombiezen opened #1676 "samples/guestbook: use URL openers"
Now that we've implemented URL openers across all of our APIs, I think we should be using the URL openers instead of a [single global "environment" flag](https://github.com/google/go-cloud/blob/a247047ee622c794cd160a1785af510f68c9436b/samples/guestbook/main.go#L61). This would make Guestbook more representative of usage that we want Go CDK users to use. Guestbook could still use Wire, but would co

[2019-03-26 16:31] vangent commented on #1675
SGTM.

[2019-03-26 17:18] shantuo commented on #1660
The Transact API's of Dynamo supports conditions, but they are atomic.

[2019-03-26 17:27] vangent opened #1677 "pubsub: Receive is inconsistent about permanent errors"
* If the background sending of Acks fails with a non-retryable error, `Receive` returns the error and will never succeed again.

* If `ReceiveBatch` fails with a non-retryable error, we return the error for a single `Receive` call, but otherwise keep going.

This leaves the user in a state where they can't know what to do when they get an error back from `Receive`.

Discussed with @jba , and we ag

[2019-03-26 17:37] jba opened #1678 "docstore: support wide-column stores?"
Evaluate whether wide-column stores like Bigtable and Cassandra can act as docstore providers.

Wide-column stores associate keys with a flat set of values, rather than a recursive structure, so mapping one to the other would require work and could impact performance.

Also, Bigtable and Cassandra have two concepts that don't cleanly map to document stores: column families, which control locality;

[2019-03-26 17:44] zombiezen commented on #1661
The `session`-shadowing problem is also present in `awssnssqs`: https://github.com/google/go-cloud/blob/a247047ee622c794cd160a1785af510f68c9436b/pubsub/awssnssqs/example_test.go#L35

Probably should do a project-global search for this problem pattern.

[2019-03-26 17:46] shantuo commented on #1670
I think guides for using equivalent CLI's to do such operations sound sufficient sinc all drivers we have right now have their CLI to do those.

Providing snippets using Terraform seems nice (but not necessary?).

[2019-03-26 20:01] vangent commented on #1600
Hi @vsaroopchand , any update on this?

[2019-03-26 22:34] shantuo commented on #1583
`dynamodb.AttributeValue` also has `NS` (number set) and `SS` (string set). Although the native encoder doesn't encode `[]float64` or `[]string` into these two types, we should make sure we could decode them into the proper types.

[2019-03-26 23:14] jba commented on #1583
I think we just have to fail on decoding numberset and stringset. I can't think of a safe way to round-trip those.

[2019-03-26 23:19] jba commented on #1660
We should use those if/when possible. It's OK that they're atomic. The firestore implementation does basically the same thing.

[2019-03-26 23:37] #1644 closed

[2019-03-26 23:37] #1677 closed

[2019-03-26 23:38] shantuo commented on #1583
The current decoder for NS and SS gives the same result as the native one. I think it's ok to not add special case here since otherwise the document struct will have special dynamodb tags and become not portable. Also, I don't think it is necessary to test the decode->encode roundtrip.

I'll make the change to support BS for now.

[2019-03-26 23:40] vangent commented on #1441
I've made a bunch of performance improvements attached to this issue and others. Closing.

[2019-03-26 23:40] #1441 closed

[2019-03-26 23:44] vangent opened #1682 "pubsub: do ack deadline extension behind the scenes"
We could do ack deadline extension behind the scenes (e.g., if we've given a user a message via `Receive` but they haven't yet `Ack` or `Nack` it when the deadline is approaching.

We'd need to know what the deadline is, and probably an option for the maximum extension.

@jba recommends we look at the `cloud.google.com/go/pubsub` client to see how it does this.

[2019-03-26 23:45] vangent commented on #1455
I split deadline extension into #1682 , leaving this issue just for Nack.

[2019-03-27 10:29] jba commented on #1583
So we'll decode a number set as a `[]int`, but then re-encode it as a list of ints? That's effectively corrupting the database. Even though no information has been lost, I think there are operations you can only do with sets, like test if they contain a value (see "contains" in https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.OperatorsAndFunctions.html).

Thinking about

[2019-03-27 10:33] jba commented on #1682
Maybe not. IIRC, `cloud.google.com/go/pubsub` assumes the minimum ack deadline of 10 seconds to start. As it learns about the distribution of message processing times, it extends the deadline of incoming messages pretty much immediately to the 99th percentile of processing time.

[2019-03-27 11:25] jba commented on #1648
Fixed by #1668.

[2019-03-27 11:25] #1648 closed

[2019-03-27 12:24] jba opened #1684 "mongodocstore: mongo represents time in milliseconds"
The Go BSON codec encodes `time.Time` with only millisecond precision (using the "UTC datetime" type of the [BSON spec](http://bsonspec.org/spec.html). That makes it problematic to round-trip times.

The mongodocstore codec could just do the same thing, rounding times to the millisecond. Then mongoDB data would round-trip, but data from other systems would lose information. For example, this seque

[2019-03-27 12:24] jba commented on #1684
@vangent @shantuo

[2019-03-27 14:20] #1647 closed

[2019-03-27 14:43] shantuo commented on #1583
Defining new types wouldn't work with the native codec. Another way like I mentioned is to use struct tags, which is how the native encoder uses to encode `[]string` and `[]float` to sets. This is not portable either but they will not fail with other drivers as those are just struct tags.

[2019-03-27 14:50] jba commented on #1684
Here is a more worked-out version of the last idea:

The `mongodocstore` package would define
[code]
and would use it to encode/decode a BSON datetime.

When it encountered a `time.Time`, the mongodocstore encoder would write it as the three-element array `["gocloud.dev/docstore time", datetime, nanos]` where `datetime` would be a BSON datetime with the time value to the millisecond, and `nanos` w

[2019-03-27 15:41] vangent opened #1686 "pubsub/rabbitpubsub: flaky tests when using fake rabbit server"
Saw this race on Travis:

[code]

[2019-03-27 15:41] vangent commented on #1686
@jba FYI

[2019-03-27 15:54] vangent commented on #1583
+1

The new types idea sounded OK to me (although I didn't understand @shantuo 's assertion that it wouldn't work with the native codec), and maybe struct tags would work, but either way it seems like something we could add later when we have more information from an actual user.

We should just clearly document in each driver the native types that docstore doesn't support, and maybe suggest the u

[2019-03-27 16:39] vangent commented on #1684
Things I found while thinking about this:
* https://github.com/go-mgo/mgo/blob/v2-unstable/bson/encode.go#L436
* https://godoc.org/github.com/aws/aws-sdk-go/service/dynamodb/dynamodbattribute#UnixTime
  * DynamoDB uses RFC3339, which is in seconds, but does support optional fractional seconds; unclear if DynamoDB fills that in or not. I would be a bit surprised if it were only at second granularit

[2019-03-27 16:43] vangent opened #1687 "travis: check for missing package meta tags could be more useful"
In #1507, an external contributor is adding a new provider package. The Travis checks fail with:

[code]

This is not very actionable, the failure should tell me more about how to fix it.

[2019-03-27 16:59] vangent commented on #1684
I think I would lean toward documenting that `docstore` itself only guarantees `time.Time` to millisecond granularity; then we don't have to special case anything. Conformance tests would check for equality only to millisecond granularity.

I suppose we could also support an `Option` for MongoDB where the user could tell us how to encode a `time.Time` in order to get nanosecond granularity, at the

[2019-03-27 17:56] jba commented on #1684
`mgo` is no longer the standard mongo driver, but the new standard has about the same code: https://github.com/mongodb/mongo-go-driver/blob/master/bson/bsoncodec/default_value_encoders.go#L247.

In `dynamodocstore`, we encode times with Go's `RFC3339Nano` format. The Go native codec does too, so we round-trip fine.

I dislike degrading the entire docstore API for this one provider. I was also thin

[2019-03-27 18:27] shantuo commented on #1583
Discussed offline, we decide to make all three set types (binary, number, string) fail in our decoder, and add `[][]byte` to an `UnsupportedType` case.

[2019-03-27 19:02] jba commented on #1684
Decision: we will keep the native millisecond representation of times, and document that docstore doesn't guarantee anything more. We won't add options or special times at this time, but will reconsider if users ask.

[2019-03-27 19:08] #1686 closed

[2019-03-27 19:50] shantuo opened #1690 "docstore: test unsupported type failing properly by our decoder"

[2019-03-27 19:52] shantuo commented on #1583
Filed #1690 for testing unsupported types.

[2019-03-27 20:42] vangent commented on #1455
@jba

My current plan is:

* Add a `driver.SendNacks` similar to `driver.SendAcks` that drivers will have to implement. I considered modifying the existing signature, to pass two separate slices, but it seems like most drivers need to handle Acks and Nacks differently (e.g., different RPCs), so it's probably simpler to just separate them.

* Add a `driver.Acktion` struct, holding an `AckID` and an

[2019-03-27 20:44] vangent commented on #1455
If that sounds good, how do you want the PRs? Options include:

1. One big PR.
2. One PR to add the new driver interface function `SendNacks`.
   2a. With stubs for all providers, then a separate PR per provider to implement.
   2b. With implementations for all providers.
   then a separate PR to add the portable type code and conformance test.

[2019-03-27 20:56] jba commented on #1455
There is an argument that Nacks should be more frequent (certainly not at the 99th percentile of processing time, if we ever do that). That would suggest a separate batcher with a smaller delay. But I'm OK waiting on that.

Love the name, cute and clever. Now that you've got it out of your system, though, let's pick a name that won't confuse readers (assuming you do stick with a single batcher) .

[2019-03-27 21:20] zombiezen opened #1692 "secrets: verify that Decrypt does not permit using the wrong key"
### Is your feature request related to a problem? Please describe.

In the [upcoming secrets how-to guide](https://github.com/google/go-cloud/blob/535dce4559dbb584c8dea26fa3141f218fa4cade/internal/website/content/howto/secrets/crypt.md#decrypting-data), I write that:

I am actually not sure whether we guarantee this or whether we should guarantee it. It would be useful for an end-user to have this

[2019-03-27 21:49] shantuo opened #1693 "docstore/firedocstore: inconsistent behavior of named type"
### Describe the bug

A named type `Binary []byte` encoded by the docstoreEncoder cannot be decoded by the native decoder.

### To Reproduce

In the testCodec code:

[code]

Got error `firestore: cannot set type drivertest.Binary to bytes`

## Expected behavior

Pass

### Version

go version go1.12.1 darwin/amd64

[2019-03-27 22:56] jba commented on #1693
Good point. But I would describe this as an issue with `cloud.google.com/go/firestore` rather than us.

@jadekler, would you mind if I added this to the firestore client?

[2019-03-27 23:08] vangent opened #1695 "all: add a function to URLMux that returns if a scheme is supported"
Something like `IsValidScheme(scheme string) bool`.

This would help users identify valid URLs; see https://github.com/pulumi/pulumi/pull/2455/files?file-filters%5B%5D=.go#diff-d335e4296a9a5904243d0f16ea2801a1R55.

[2019-03-27 23:27] vangent opened #1696 "blob: add support for copying an object"

[2019-03-28 03:14] vangent opened #1698 "pubsub: get rid of the "newBatcher" args to constructors"
I don't think we're ever doing anything other than passing `nil` for the default; although I have seen some flakiness in tests due to batch, it hasn't risen to the level of being a problem.

I think it might be simpler to replace the func arg with something like `fixedBatchSize`, which would get passed through to the batcher and enforce that batch size (with 0 being the current default of dynamic

[2019-03-28 03:16] vangent opened #1699 "pubsub/azuresb: consider caching amqp client used for acks"
https://github.com/google/go-cloud/blob/master/pubsub/azuresb/azuresb.go#L460

We create a client during `SendAcks` and then throw it away; could we keep the client and re-use it?

@vsaroopchand thoughts?

[2019-03-28 09:31] jba commented on #1698
To deal with batcher non-determinism. There are potential timing effects (batches transmitted after N ms of idle time).

I'd be in favor of making it simpler.

[2019-03-28 15:54] vangent commented on #1698
OK, I'll do this, and add a conformance test with various explicit ack batch sizes.

[2019-03-28 17:16] zombiezen opened #1705 "all: AWS examples all shadow session package"
The following list of AWS examples shadow the `session` package identifier with a `session` variable. This can be potentially confusing for readers, so I suggest we name the variable `sess` or some such.

-  [`s3blob.Example`](https://github.com/google/go-cloud/blob/9fbb8d93382bed05e55f8caaeaafbe137e9138e2/blob/s3blob/example_test.go#L31)
-  [`awssnssqs.ExampleOpenTopic`](https://github.com/google

[2019-03-28 17:30] zombiezen opened #1707 "pubsub/awssnssqs: use different URL schemes for topic and subscription"
/cc @jba for thoughts

### Is your feature request related to a problem? Please describe.

The topic/publishing side of the `awssnssqs` package uses AWS SNS, and the subscription side uses AWS SQS. However, both types of URLs use the scheme `awssnssqs`. In order to know which service a URL is actually using, you have to consult the documentation and understand it.

### Describe the solution you'd

[2019-03-28 19:06] jba commented on #1707
Hmm. But it's the same driver. It's not like you can mix an SNS topic with a mempubsub subscription.

Also, I suspect if you're using this provider you have a basic understanding of the APIs.

OTOH, maybe someday you can create an SNS topic but use a non-SQS subscription?

So I guess I'm agnostic. Will let @vangent decide.

[2019-03-28 19:54] #1455 closed

[2019-03-28 19:55] #1615 closed

[2019-03-28 20:27] #707 closed

[2019-03-28 20:33] zombiezen opened #1710 "pubsub/rabbitpubsub: godocs mention AMQP but never explain relationship"
### Is your feature request related to a problem? Please describe.

As a casual Pub/Sub observer, I have heard of the product "RabbitMQ" but hadn't really heard of "AMQP" until working on this project. When writing the how-to guides for Pub/Sub (#1576), I discovered that the `rabbitpubsub` constructors all require the caller to create an AMQP connection. My concern is that without having additiona

[2019-03-28 20:38] zombiezen opened #1711 "pubsub: provider package references should include links to their products"
### Is your feature request related to a problem? Please describe.

Some providers (like Azure and AWS) have multiple similarly named but distinct products in the messaging space. The reference documentation for the Pub/Sub provider packages (those below `gocloud.dev/pubsub/`) sometimes mention the product name, sometimes not, making it hard for me to know whether it's talking about the same thing

[2019-03-28 20:52] zombiezen opened #1713 "pubsub/awssnssqs: OpenTopic&OpenSubscription require a client instead of a session"
### Is your feature request related to a problem? Please describe.

The `OpenTopic` and `OpenSubscription` functions take in `*sns.SNS` and `*sqs.SQS`, respectively. Other AWS providers (see [`s3blob.OpenBucket`](https://godoc.org/gocloud.dev/blob/s3blob#OpenBucket) and [`awsparamstore.NewVariable`](https://godoc.org/gocloud.dev/runtimevar/awsparamstore#NewVariable)) take in a `client.ConfigProvid

[2019-03-28 21:04] zombiezen opened #1715 "pubsub/natspubsub: constructor names should be consistent"
### Is your feature request related to a problem? Please describe.

The constructors in `natspubsub` are [`CreateTopic`](https://godoc.org/gocloud.dev/pubsub/natspubsub#CreateTopic) and [`CreateSubscription`](https://godoc.org/gocloud.dev/pubsub/natspubsub#CreateSubscription). Constructors in the Go CDK are generally prefixed with `Open`. I am unsure whether the difference in prefix is connoting t

[2019-03-28 21:14] zombiezen opened #1716 "pubsub/natspubsub: unclear documentation"
While reviewing the `natspubsub` reference documentation while creating the how-to guides (#1576), I found some areas where I was left unclear:

-  IIUC `CreateTopic` maps to a NATS subject (based on the link to https://nats.io/documentation/writing_applications/subjects), but this isn't explicitly stated anywhere in the reference documentation.
-  I wasn't entirely sure what these commented-out l

[2019-03-28 22:15] vangent commented on #1707
I'd be fine with "awssns" and "awssqs"

[2019-03-29 01:31] vangent commented on #1698
There are some further driver simplifications that this enables, leaving open.

[2019-03-29 02:39] vangent opened #1725 "pubsub: make pubsub call ReceiveBatch concurrently based on batch options"
Today, drivers can get a request for `ReceiveBatch` with a large `maxMessages`; if the provider doesn't support fetching that many messages at once, they must make multiple calls concurrently and manage that themselves.

Instead, we could let drivers specify `batcher.Options` and use them to break up the `ReceiveBatch` request based on the min, max batch size, and max concurrency. This would simpl

[2019-03-29 15:43] vangent opened #1726 "pubsub: add a conformance test for sending a double ack/nack"
For at-least-once providers, it's possible for a `Subscription` to (n)ack a message that has already been acked (by another recipient). Also, on batch APIs, depending on provider semantics during partial errors, it may be possible for retries to retry some (n)acks that were accepted previously.

I think that we should make sure that sending an (n)ack for a message that has already been acked shoul

[2019-03-29 15:44] vangent opened #1727 "pubsub/nats: benchmark fails"
I suspect that 10k messages is too much for it.

[2019-03-29 15:45] vangent opened #1728 "pubsub/rabbit: TestNack hangs sometimes"
I've seen this a couple of times, need to repro.

[2019-03-29 16:02] jadekler commented on #1693
@jba Please do!

[2019-03-29 16:02] vangent commented on #1727
For posterity:

[code]

I verified that it works fine (and has good throughput) when the number of messages is reduced to 5000.

[2019-03-29 16:02] #1727 closed

[2019-03-29 17:39] #1003 closed

[2019-03-29 17:40] vangent opened #1729 "runtimevar: add URL support to new HTTP provider"

[2019-03-29 19:34] jba commented on #1726
SGTM.

[2019-03-29 19:35] vangent commented on #853
I don't think this will work:
https://www.rabbitmq.com/confirms.html#consumer-acks-double-acking

[code]

[2019-03-29 19:36] #1698 closed

[2019-03-29 21:43] #1728 closed

[2019-03-30 21:01] vangent commented on #1600
Here is where the subscription is created in the test:
https://github.com/google/go-cloud/blob/master/pubsub/azuresb/azuresb_test.go#L115

Here's is the commented-out test that runs conformance tests with autodelete mode enabled:
https://github.com/google/go-cloud/blob/master/pubsub/azuresb/azuresb_test.go#L162

And this is the conformance test that fails if the above is uncommented:
https://githu

[2019-04-01 10:03] Zyqsempai opened #1737 "mysql: We are missing terraform file for azure-mysql"
### Describe the bug

We are missing terraform file for new azure MySQL implementation.

## Expected behavior

There are should be `main.tf` file in azuremysql folder to run the tests.

[2019-04-01 10:25] Zyqsempai commented on #1713
I will take this one.

[2019-04-01 12:56] Zyqsempai commented on #1707
Will take care of this one.

[2019-04-01 13:17] vsaroopchand commented on #1600
I can confirm the expected behavior is for all subscriptions to receive the message (if listening concurrently). In discussion with the SB team to do additional research into this issue.

[2019-04-01 13:23] jba commented on #1693
This would be a breaking change. Currently
[code]
encodes to a two-element array value. This change would make it encode to a bytes value.

@jadekler, the README says that the firestore client is still in beta. Is that correct? I thought it went GA with the Firestore product itself.

In either case, people are probably using it assuming it's GA because the product is GA, so I don't think we should

[2019-04-01 15:46] vangent commented on #1600
Thanks Vishal. I also filed https://github.com/Azure/azure-service-bus-go/issues/114.

[2019-04-01 16:48] eliben commented on #1737
Thanks for the report, @Zyqsempai
Assigning this to @zombiezen who is going to be back from vacation next week

[2019-04-01 16:49] clausti commented on #1692
Strictly speaking, this is not true for `localsecrets`. As long as the keeper that was used to encrypt and the keeper that is used to decrypt were constructed with the same secret material, decryption will work. But it doesn't have to be the literal same keeper object.

[2019-04-01 16:51] eliben commented on #641
Closing this as fixed with https://github.com/google/go-cloud/tree/master/pubsub/natspubsub in the code

[2019-04-01 16:51] #641 closed

[2019-04-01 18:48] #1726 closed

[2019-04-01 19:08] jadekler commented on #1693
Ah yeah, that does seem like not a good idea. Also, we're in the process of making it stable, so definitely not a good time to make breaking changes heh.

Where can I read about these encoders/decoders? Are these go CDK things? Perhaps there's something we can do in that layer to smooth over the issue?

[2019-04-01 19:31] jba commented on #1693
@shantuo I think it will be consistent with other docstore providers if we leave it as it is, right? It's just not consistent with the native firestore client. We know those sort of inconsistencies happen sometimes; we just have to document them.

Leaving this open until it's documented in the `firedocstore` package doc.

[2019-04-01 21:07] shantuo commented on #1693
No, I found this not work when I tried to add a test case like above, the dynamodb driver worked while the firestore did not.

[2019-04-01 22:28] jba commented on #1693
This sort of problem is why we have `UnsupportedTypes`. We can add that test case but have the firestore driver return an enum value for defined types whose underlying type is `[]byte`.

[2019-04-01 22:36] #1725 closed

[2019-04-01 22:37] #1454 closed

[2019-04-01 23:25] jba commented on #1336
This is done.

[2019-04-01 23:25] #1336 closed

[2019-04-01 23:26] jba commented on #1674
@vangent @zombiezen

[2019-04-01 23:26] jba commented on #1337
This is done.

[2019-04-01 23:26] #1337 closed

[2019-04-01 23:29] vangent commented on #1600
This turns out to be our bug.

https://github.com/google/go-cloud/blob/master/pubsub/azuresb/azuresb_test.go#L103

shortens subscription names that are > 50 characters; this test went past that. The 2 subscriptions that this test creates are made unique using a suffix, which was dropped by the > 50 trim.

[2019-04-02 00:01] vangent commented on #1674
I don't feel that strongly about this. Yes, it would probably be better, but I doubt it will be an issue in practice.

[2019-04-02 03:29] vangent opened #1743 "pubsub/tests: why isn't the lack of ack complained about for As?"
The conformance test for "As" doesn't call `Ack` on the message it receives.

-- Fix that.
-- Figure out why the new finalizer doesn't complain about this.

[2019-04-02 03:33] vangent opened #1744 "pubsub: Shutdown should return error if acking failed and it hasn't already been reported"
I noticed recently that we have several tests for which `Ack` failed, but we didn't notice because the error is only reported during the next call to `Receive`, and the test never calls `Receive` again.

Examples:
* `azuresb` was failing for one of the `As` tests because the test name was too long (being fixed in #1741).
* I added `Ack` to the `As` test for #1743 and the replay tests didn't fail e

[2019-04-02 10:03] jba commented on #1600
Good catch.

So creating a subscription that already exists does not return an error? Or are we failing to check?

[2019-04-02 10:04] #1674 closed

[2019-04-02 10:19] jba commented on #1743
You might just exit before the first GC.

[2019-04-02 15:23] vsaroopchand commented on #1737
PR Sent. Please note, you must add our firewall rule in the main.tf file to allow external traffic. By default, only internal traffic is allowed.
See doc for more info: https://docs.microsoft.com/en-us/azure/mysql/concepts-firewall-rules

[2019-04-02 21:37] #1713 closed

[2019-04-02 22:32] #1583 closed

[2019-04-03 00:00] vangent commented on #1600
Not sure, I will check.

[2019-04-03 00:20] #1600 closed

[2019-04-03 00:39] #1699 closed

[2019-04-03 11:26] jba opened #1752 "docstore: put clients in strong consistency mode for testing"
Our tests write documents, then immediately read them back. This can be flaky for providers that use eventual consistency by default. Where possible, create clients using strong consistency for testing.

This isn't essential, because it only affects tests when we record, and we do that rarely.

Currently this only applies to dynamo. Firestore is strongly consistent, and we test mongo through a sin

[2019-04-03 16:22] #1743 closed

[2019-04-03 16:31] #1707 closed

[2019-04-03 16:34] vangent commented on #1752
FYI -- we have a similar issue for `blob`. We "solve" it there by not cleaning up after tests. For example, if a test creates a bunch of blobs (if they don't already exist) and then tests `List` over them, it creates the blobs but then doesn't delete them; the test may be flaky the first time it is run in `-record` mode, but is stable after that.

[2019-04-03 17:02] #1744 closed

[2019-04-03 17:15] #1705 closed

[2019-04-03 19:01] eliben commented on #1715
Some archeology by @vangent turned up:

https://github.com/google/go-cloud/pull/1381#discussion_r259220426

Where the naming was suggested

[2019-04-03 19:17] vangent commented on #1696
Notes: none of the cloud providers have an atomic move. You copy and delete.

* S3 [copy](https://godoc.org/github.com/aws/aws-sdk-go/service/s3#S3.CopyObject)
* GCS [copy](https://godoc.org/cloud.google.com/go/storage#ObjectHandle.CopierFrom)
* Azure [copy](https://godoc.org/github.com/Azure/azure-storage-blob-go/azblob#BlobURL.StartCopyFromURL)

[2019-04-04 01:50] #1729 closed

[2019-04-04 01:50] #1695 closed

[2019-04-04 14:18] Zyqsempai commented on #1696
@vangent are you working on it? can I take a part?

[2019-04-04 15:49] vangent commented on #1696
@Zyqsempai

Yes, I am working on it. My plan is to do an initial PR with the driver + portable type APIs and the memory/file implementations, and I'm mostly done with that. Then implementing each Cloud provider can be done independently; you could do one or more of those (Azure, S3, GCS). If that sounds interesting to you, I'll cc you on the first PR, and just let me know which of the providers yo

[2019-04-04 18:28] #853 closed

[2019-04-04 19:07] shantuo opened #1760 "docstore: make the local driver stateful"
We want to let the local dev driver keep the record when the user wants to do some local dev work without writing new items every time they restart it. There are two options:

1. Do a file based docstore.
1. Dump the mem store table when mem store exit.

[2019-04-04 19:55] Zyqsempai commented on #1696
Yeah, sounds more than interesting, thanks!

[2019-04-04 20:22] vangent commented on #1696
Great! I cc'd you on the first PR. After that is submitted I plan on extending the `As` tests for `BeforeCopy`. Please update this bug with which provider you'd like to work on first (links for all 3 are above).

[2019-04-04 20:25] Zyqsempai commented on #1696
I will start with `aws` and then continue with 'gcs'.

[2019-04-04 22:38] garukun commented on #1678
May I also suggest to throw DynamoDB into pile for design considerations. :)

[2019-04-05 00:23] vangent commented on #732
Hi @jasongerard have you started this? If not, I'm going to take a look.

[2019-04-05 00:25] vangent commented on #1482
FYI, it looks like Swift supports the S3 API:
https://www.swiftstack.com/docs/admin/middleware/s3_middleware.html

So, you can probably use the `s3blob` provider and point it at your Swift cluster. If you try this, please let us know how it goes!

[2019-04-05 01:59] shantuo opened #1762 "docstore: support comparison of non-numeric or non-string type for where filter"
We could use the raw byte to compare. Not sure whether this is useful.

[2019-04-05 11:32] jba commented on #1760
I don't know if this feature is needed, but if it is then I would do it with a `Save` method, and an alternative Open method that takes a filename (or make that an option).

[2019-04-05 16:22] vangent opened #1764 "pubsub/azuresb: update SendAcks to use Bulk instead of a separate AMQP connection"
@vsaroopchand said:

I actually fixed this in the SB SDK; this custom SendAck can use the newly added Bulk Operation. I'll rework SendAck once this is merged in.

https://github.com/Azure/azure-service-bus-go/pull/99

[2019-04-05 16:38] mmwtsn opened #1765 "all: https://gocloud.dev/ is offline"
Requests to https://gocloud.dev/ are currently not resolving for me.

This is causing our package manager to fail.

![Go Cloud](https://user-images.githubusercontent.com/1479130/55642827-943db780-579f-11e9-926a-9c1f5217d5d9.png)

[2019-04-05 16:45] vangent commented on #1765
The site is up for me. I think that error implies a network problem on your end:
https://www.google.com/search?q=dns_probe_finished_nxdomain

[2019-04-05 16:49] mmwtsn commented on #1765
Yep. Looks like something is up with my Wi-Fi network. Thank you.

[2019-04-05 16:49] #1765 closed

[2019-04-05 16:57] vangent opened #1766 "blob: add an option to support cross-bucket copies"
* Could be a "SourceBucket *blob.Bucket" option in `CopyOptions`.
* The source bucket would need to be of the same provider type as the active one, or the portable type would return an error (to copy across providers, you need to read/write).

[2019-04-05 17:03] eliben commented on #1678
@garukun Dynamo is already being worked on -- https://github.com/google/go-cloud/tree/master/internal/docstore/dynamodocstore

[2019-04-05 17:34] clausti commented on #1664
This seems like a few issues

1. `ByteKey()` and `Base64Key()` truncation/padding behavior should be removed and those methods should error if not given material of the correct size.
2. `OpenKeeperURL` should only permit base-64 encoded keys/`ByteKey()` should not exist at all?
3. Functionality to increase the cryptographic strength of users' secrete material, either through a method to generate a

[2019-04-05 18:02] jba commented on #1766
nit/cognitive quirk: When I write `myBucket.Copy(..., foo, bar)`, it feels like I'm copying _from_ myBucket to somewhere else. So I feel that `DestBucket` would be more natural. But maybe that's just me.

This actually brings up a problem with your existing `Copy` method: you list the args as `src, dest`, which feels natural. But Go does it the other way: the `copy` built-in uses `dest, src`. It's

[2019-04-05 18:35] vangent commented on #1766
Fixed in the PR.

[2019-04-05 20:04] jba opened #1769 "docstore: handling provider query limitations"
We need to strike a balance between limiting queries so they can run in a single RPC on all providers, and giving users a reasonable amount of expressive power.

Here are limitations we already have. I don't think any of these are problematic:
- Limited to a single collection (I believe all our providers have this limitation.)
- No OR queries. (Easy enough to run two queries.)
- No "not equal" ope

[2019-04-05 21:04] shantuo commented on #1769
Dynamo's key condition roughly equals to firestore's filter, while its filter condition works on the results returned by the query request, which means it locally filters out the result instead of send these along with the query request. But the partition key only allows "=" comparison.

FYI, I just found AWS [Document Database](https://aws.amazon.com/nosql/document/), which works like Mongo...

[2019-04-05 21:06] eliben commented on #1769
It would be nice to support it out-of-the box once our Mongo driver is working :)

[2019-04-05 21:08] shantuo commented on #1769
I think one thing we could do is to provide better error message in the dynamo driver when there is a validation expression returned.

The user can query on different fields by creating a secondary index besides their primary one. So they will need to manage their index to fit their needs. They only thing I'm afraid of is that the portable API might make these details harder to find.

[2019-04-05 21:18] jba commented on #1769
Yes, we'll get Amazon Document Database and Microsoft Cosmos for free with our Mongo driver.

[2019-04-06 21:48] vangent commented on #732
I've started on this.

[2019-04-08 11:03] jba commented on #1769
Here's another severe limitation: DynamoDB can only order by sort key (ascending or descending). That one is pretty severe, since to overcome it the client would have to store the entire result in memory.

[2019-04-08 11:23] jba commented on #1769
Oh, it gets worse: in Firestore, if you have an inequality filter (e.g. `n > 3`), then the primary sort order _must_ be on that filter's field (`n` in this case). That means we can't even specify that all queries return their results in key order.

I think we have to say that query order is unspecified.

[2019-04-08 14:56] zombiezen commented on #1692
Agreed: wording could be more precise (perhaps "equivalent secret keeper" or "secret keeper initialized with equivalent parameters"). But I argue the overall property is a useful one for the end-user to have.

[2019-04-08 17:23] #1715 closed

[2019-04-08 17:23] #1716 closed

[2019-04-08 18:01] vangent commented on #1769
IMHO latter is better. We can document which kinds of queries may have performance issues due to client-side work per driver. IIUC DynamoDB does this already (client-side filtering).

We could also consider adding an `Option` for drivers that may have to do a lot of client-side work to return an error instead of doing so, if users want to get notified of such things early rather than via slow perf

[2019-04-08 19:30] vsaroopchand commented on #1764
The newly added SendBatchDisposition operation in the SB SDK throws a 410 error on double acks. How should I handle this?

    --- FAIL: TestConformance/TestDoubleAck (29.48s)
        drivertest.go:518: unhandled error link 3213f1e1-c837-4678-8037-91be22e03c14: status code 410 and description: The lock supplied is invalid. Either the lock expired, or the message has already been removed from the q

[2019-04-08 19:42] jba commented on #1769
After team discussion, we tentatively agreed that we should say nothing about ordering and provide no way to change it. Documented in https://github.com/google/go-cloud/pull/1774.

I also documented that we will do client-side filtering in Where clauses when necessary.

[2019-04-08 20:05] vangent commented on #1764
The current code has the same issue:
https://github.com/google/go-cloud/blob/master/pubsub/azuresb/azuresb.go#L505

It's unfortunate that the batch API returns a single error; it's not clear what the semantics are (e.g., how many of the acks succeeded vs failed? what if some of them failed with one error code and others for another error code? which specific message(s) caused the error(s)?).

The

[2019-04-09 02:34] #1554 closed

[2019-04-09 13:06] jba commented on #1693
Closing this: we can't change the native firestore client, so we have to live with this inconsistency.

[2019-04-09 13:06] #1693 closed

[2019-04-09 20:12] eliben commented on #1670
@zombiezen do you see this tool being useful in its own right, or just as a sample? As a sample it sounds like a nice addition to our `samples` directory - we don't currently have much in terms of samples (outside test examples) for secrets.

[2019-04-09 20:19] eliben commented on #1650
Sounds reasonable to me, but it's a rather significant breaking change. If we want to do it at all, we should do it very soon. @zombiezen @vangent

[2019-04-09 20:32] eliben commented on #1653
We should do this before we declare beta-level API stability

[2019-04-09 20:42] jba commented on #1339
Done.

[2019-04-09 20:42] #1339 closed

[2019-04-09 20:43] jba commented on #1340
Finished.

[2019-04-09 20:43] #1340 closed

[2019-04-09 20:44] jba commented on #1334
Done.

[2019-04-09 20:44] #1334 closed

[2019-04-09 20:44] jba commented on #1333
Done.

[2019-04-09 20:44] #1333 closed

[2019-04-09 21:36] eliben opened #1782 "runtimevar: document the different types of decoders in URLs"
The docstring for `runtimevar/runtimevar.go` has a useful description of the different decoders supported through URLs:

[code]

I can't find this elsewhere in the existing docstrings. This should be visible on godoc, probably in the documentation of https://godoc.org/gocloud.dev/runtimevar#OpenVariable ?

[2019-04-09 21:42] eliben commented on #1782
... this demonstrates a quirk of how godoc generates documentation. We have

[code]

So the godoc page for `runtimevar` shows this docstring for the public `DecoderByName`, while the docstring for the private name it aliases is lost. Moreover, the documentation doesn't even specify the arguments `DecoderByName` takes and its return values, because it's just a `var`

[2019-04-10 16:09] zombiezen commented on #1670
It's definitely useful as sample code, but I think it might have utility for ops folks trying to set up their cloud resources, especially since the CDK plays some games on certain providers (like Base64 encoding/decoding).

[2019-04-10 16:29] vangent commented on #1667
Thanks for catching this Ross!

[2019-04-10 16:31] vangent commented on #1670
I like the idea of having a simple CLI for each of our portable APIs; they will be useful as samples and may also have some utility on their own. We already have `blobdownload` for `blob`, and `gcmsg` for `pubsub`. It should be pretty easy to add similar things for `runtimevar` and `secrets`.

Ideally they would all live near each other, and have similar style as well. E.g., maybe we should rename

[2019-04-10 16:49] #1782 closed

[2019-04-10 16:49] #1737 closed

[2019-04-10 17:23] vangent commented on #1696
I'm going to work on GCS now.

[2019-04-10 17:38] vangent commented on #1696
Wow, GCS was super easy. @Zyqsempai have you started on AWS yet, or shall I go ahead? We'd like to tag a release soon and it'd be good to have `Copy` implemented across the board.

[2019-04-10 17:39] nhooyr opened #1790 "all: Why As and not a type assertion?"
Why do the concrete types have a `As` method that takes an interface and returns true if the interface was

Why not have a method like `Underlying` that return an `interface{}` that can then be type asserted to the cloud specific provider type?

Seems simpler.

[2019-04-10 18:22] vangent opened #1791 "pubsub: NotFound errors are not being returned correctly"
The conformance tests check that an error is returned, but not that its code is `NotFound`. Several drivers are getting this wrong.

Update the tests and fix the drivers.

[2019-04-10 18:22] #1667 closed

[2019-04-10 18:49] vangent commented on #1790
We considered that, specifically something like [os.ProcessState.Sys](https://golang.org/pkg/os/#ProcessState.Sys) that returns an `interface{}` that the user can cast/type assert.

We ended up going with `As` (which is consistent with the Go 2 proposal for errors, currently implemented in [xerrors](https://godoc.org/golang.org/x/xerrors#As)) because:
* Most portable types have an `As` function fo

[2019-04-10 19:15] aarondl opened #1792 "blob: Importing gocloud.dev/blob starts a goroutine"
### Describe the bug

By importing gocloud.dev/blob an unsolicited goroutine starts up in your program.

[code]

### To Reproduce

* Create a hello world `main.go`
* Import `gocloud.dev/blob`
* Have main wait indefinitely on a nil channel read or something
* Press `ctrl+\` to see the goroutine dump and observe the opencensus worker routine

## Expected behavior

There should be no goroutines runni

[2019-04-11 01:02] #1790 closed

[2019-04-11 01:03] #1791 closed

[2019-04-11 01:46] vangent opened #1794 "pubsub/tests: flaky OpenCensus test"
[code]

[2019-04-11 06:39] Zyqsempai commented on #1696
Yep, i will create a PR asap.

[2019-04-11 15:58] zombiezen opened #1798 "postgres/cloudpostgres: Open should return a cleanup function"
### Is your feature request related to a problem? Please describe.

The [`cloudpostgres.Open`](https://godoc.org/gocloud.dev/postgres/cloudpostgres#Open) function can't be used directly in Wire without leaking resources because it does not include a [cleanup function](https://github.com/google/wire/blob/master/docs/guide.md#cleanup-functions)

### Describe the solution you'd like

The signature of

[2019-04-11 15:59] zombiezen commented on #1798
(This problem may exist in other database packages too, I haven't checked yet.)

[2019-04-11 16:24] vangent commented on #1792
Why?

Goroutines in Go are very cheap; it is not unusual for packages or structs to start goroutines as an internal implementation detail. In this case, we are importing some OpenCensus packages that appear to start this goroutine.

[2019-04-11 17:31] #1104 closed

[2019-04-11 17:45] aarondl commented on #1792
@vangent Implicit side effects are basically always a bad thing, it's easy to ask a package to do something like start a goroutine, it's very hard to tell it not to do that (fork is the only option, no?). The more I use Go the more I shy away from import side effects (even driver registration bits).

Why do I want this extra goroutine consuming any resources at all? Especially if I'm not intending

[2019-04-11 17:46] vangent commented on #1794
I'm not sure how this happens; it looks like an extra `SendAcks` call happened, but `Ack` is only called once in the test. I couldn't reproduce locally:

[code]

Closing; we'll see if it happens again.

[2019-04-11 17:46] #1794 closed

[2019-04-11 17:48] zombiezen opened #1802 "internal/testing: check_api_change.sh raises an error if master made a breaking change during test run"
As per this comment:

https://github.com/google/go-cloud/blob/4a4b28c6ec7c46a7b4a945e427298862efb65958/internal/testing/check_api_change.sh#L39-L44

The script currently fails in the case where a breaking change has been committed to master since the PR work started. I haven't drilled into whether merging resolves this issue, but I don't think this should be an error case, as this will affect any

[2019-04-11 17:51] vangent commented on #1802
I think a merge to `HEAD` should fix it.

Do you have an alternative suggestion?

[2019-04-11 17:56] vangent commented on #1792
Thanks for the comments, and thanks for using Go CDK!

The goroutine is needed to implement the functionality provided by the package. It's not intended for you to use it explicitly.

I understand your "slippery slope" concern, but I think in Go you should consider "starting a goroutine" closer to the "allocated some memory" end of the slope (which I don't think you would blink an eye at, e.g., pa

[2019-04-11 17:56] #1792 closed

[2019-04-11 18:05] aarondl commented on #1792
Surely metrics and tracing is an optional piece of any package which at some point I'd choose to use and only then would require the goroutine. Also goroutines cheap as they are still take processing power away from other goroutines, multi-core arguments etc. etc aside, it depends how busy your program is already. There's a lot of insane-level scale stuff happening in Go at which point these thing

[2019-04-11 18:12] eliben commented on #1792
@aarondl we hear your concerns. As you say, the right place to solve it is the OpenCensus module. We'll keep an eye on https://github.com/census-instrumentation/opencensus-go/issues/1074

[2019-04-11 18:25] vangent commented on #1794
#1803 may have caused this; we were not cleaning up goroutines in various places (by not calling `Shutdown`); I suspect leakage between tests caused the extra `SendAcks`.

[2019-04-11 18:25] vangent commented on #1794
caused -> fixed

[2019-04-11 18:30] zombiezen opened #1804 "internal/cmd/gocdk: investigate use of Docker client API"
Is there a way to interact w/ docker via a client API? That could be easier to test/mock

_Originally posted by @eliben in https://github.com/google/go-cloud/pull/1796_

[2019-04-11 22:18] zombiezen opened #1806 "internal/cmd/gocdk: implement minimal init command"
It's useful to create projects with the biome structure for the purpose of manual testing. Regardless of the scaffolding code we want to use, it seems fairly important to have an init command sooner rather than later.

[2019-04-11 22:20] zombiezen opened #1807 "internal/cmd/gocdk: implement minimal build command"
This command should simply be a shim over `docker build -t IMAGE .` run at the root directory.

See also #1804.

[2019-04-11 22:23] zombiezen opened #1808 "internal/cmd/gocdk: implement minimal serve command"
The serve command should build the user's application and reverse proxy traffic to it. When anything in the module directory or underneath changes, the application should rebuild and be proxied to when health checks pass.

[2019-04-11 22:23] clausti opened #1809 "internal/cmd/gocdk: Additional test cases for apply"
Build out tests for `apply`, per [comments](https://github.com/google/go-cloud/pull/1805/files#diff-65d4b7e43de0d297ed83731fa878a927R30) on #1805

[2019-04-11 22:26] zombiezen opened #1810 "internal/cmd/gocdk: add help command"
Currently, the CLI only surfaces help information if you run `gocdk subcommand --help`. It would be nice to support the common alternative spelling `gocdk help subcommand`. In gg, I implemented this by rewriting the second spelling into the first spelling during subcommand dispatch and allowing the subcommand to render its own help documentation.

[2019-04-11 22:29] zombiezen opened #1811 "internal/cmd/gocdk: add subcommand synopses"
Currently, each gocdk subcommand's `--help` flag causes the list of flags to be printed and nothing else. It would be better for each subcommand to give a synopsis line as well as a longer description of what the command does.

[2019-04-11 22:30] clausti opened #1812 "internal/gocdk: user-defined pre-launch hooks?"
Currently, `apply` is spec'd to only wrap `terraform apply`. Should we also build an affordance for users to write hooks to change the state of their remote biome prior to `launch`?

The use case that springs immediately to mind is db schema changes.

[2019-04-12 00:37] vangent opened #1813 "pubsub: consider adding Close/Shutdown methods for drivers"
We currently have `Shutdown` at the portable type, but not in the driver interface, for both `Topic` and `Subscription`.

I'm working on Kafka; it's looking like I'm going to need to start a goroutine in `OpenSubscription`. It's not obvious how to clean it up.

* We could add `Shutdown` or `Close` methods to the driver interface and have the portable type call them.

* It could use the `ctx` passe

[2019-04-12 16:04] zombiezen opened #1816 "internal/cmd/gocdk: implement minimal apply command"
This command should simply be a shim over `terraform apply` run in a biome directory. This blocks #1812.

See #1805 for the current PR, which has a planned follow-on of #1809.

[2019-04-12 16:22] vangent commented on #1813
I sent a PR with a variant of option 1 above; drivers may optionally implement `io.Closer` for their topics/subscriptions, and have the `Close` func called during `Shutdown`.

[2019-04-12 17:19] #1598 closed

[2019-04-12 17:23] zombiezen commented on #1598
I think we should add a guide in the website tutorials to promote discoverability. @eliben, do you want to have a separate issue open for that or should we reopen this one?

[2019-04-12 17:25] eliben commented on #1598
I'll open a new one

[2019-04-12 17:27] eliben opened #1819 "doc: add website guide for server"
With #1598 we now have a minimal sample for using the CDK's `server` in `samples/server`. @zombiezen suggests "we should add a guide in the website tutorials to promote discoverability."

[2019-04-12 17:37] clausti opened #1821 "internal/cmd/gocdk: deal with Terraform output"
See code comment: https://github.com/google/go-cloud/pull/1805/files#diff-c6ae2ccc3e43cd1fd49425541507811dR49

[2019-04-12 17:51] zombiezen commented on #1819
To be clear, I'm thinking a page like https://gocloud.dev/tutorials/cli-uploader/

[2019-04-12 19:59] zombiezen commented on #1802
Aha, found the underlying issue (and also the low incidence of this false positive occurring): the problem is one of concurrency. The sequence that triggers the failure:

1) Non-breaking PR build starts. Travis automatically created a merge commit as per [their docs](https://docs.travis-ci.com/user/pull-requests/).
2) A breaking PR is submitted to master.
3) `check_api_change.sh` grabs the master

[2019-04-12 20:27] #1802 closed

[2019-04-12 21:26] #1816 closed

[2019-04-13 00:49] dadgar opened #1823 "blob/azureblob: SAS token not usable"
### Describe the bug

Unable to authenticate when using an Azure SAS token to interact with the Azure Blob Storage

### To Reproduce

Create an storage account, upload some blobs, generate a SAS token and try to download the blobs.

## Expected behavior

Blobs download.

### Version

`gocloud.dev v0.12.0`

### Additional context

It looks the SAS token isn't being added to the query string since `

[2019-04-13 22:02] jba commented on #1813
Might as well just require drivers to have `Close`. It's a trivial burden for those that don't need it.

[2019-04-15 17:10] zombiezen opened #1827 "internal/website: how-to example code can drift from godoc examples"
### Is your feature request related to a problem? Please describe.

The how-to guides under [internal/website/content/howto](https://github.com/google/go-cloud/tree/master/internal/website/content/howto) often duplicate example code from the godoc reference, but sometimes with slight differences.

Long-term, this can cause maintenance burden as improvements in one rendering likely should carry ove

[2019-04-15 19:47] vangent opened #1829 "pubsub/nats: reconsider ReceiveBatch returning multiple messages"
`ReceiveBatch` for `nats` currently returns multiple messages (up to `maxMessages`). These messages are queued in the portable type (`pubsub.Subscription`) before being returned to the user one at a time via `Receive`.

IIUC, the semantics of NATS are that messages are only delivered once; I think this means that any messages that are queued are getting dropped on the floor.

I.e., application is

[2019-04-15 19:56] vangent commented on #1829
* We could allow drivers to tell the portable type not to prefetch messages, but only to call `ReceiveBatch` as part of `Receive` (and `ReceiveBatch` would always return a single message).

[2019-04-15 19:59] vangent commented on #1829
Kafka has a similar issue. For Kafka, another option might be to allow the driver to add a hook to `driver.Message` that is called right before the message is returned to the user in `Receive`; that would cause Kafka to mark the message's offset (this works since offsets are in order). I don't think that solution works for NATS because there's no explicit operation to mark a message as received ot

[2019-04-15 21:16] #1823 closed

[2019-04-16 10:22] jba commented on #1829
At first glance, I like the idea of disabling prefetch.

I thought Kafka was at-least-once?

[2019-04-16 10:42] jba opened #1830 "docstore/awsdynamodb: pass limit in query RPC"
The dynamodb query RPC treats its limit parameter as the number of items to process _before_ filtering with the provided filter expression. We want limit to apply to the actual number of items returned to the user.

Currently we track the limit ourselves in the driver iterator, and don't pass a limit to dynamodb. But this could result in a lot of extra work. For example, if the user provides a lim

[2019-04-16 13:11] jba opened #1832 "dynamodocstore: support any query"
We can and should make the dynamo driver support any query.

The first step is falling back to using Scan. This is done in  #1831. But we should do more.

The `DescribeTable` RPC will tell us all the indexes on the table. We can use that information to construct an efficient query. The algorithm is something like:
1. If the query does not contain an equality filter, do a Scan.
2. Find all the quer

[2019-04-16 15:37] zombiezen opened #1833 "internal/cmd/gocdk: serve should verify that biome configuration permits it"
Quoting @clausti:

Follow-on [from #1815](https://github.com/google/go-cloud/pull/1815/files/d90b159c03f785773ace3cbf80f4e987c60084ed#r275475569)

[2019-04-16 17:21] #1813 closed

[2019-04-16 21:31] zombiezen commented on #1827
I did some research on this today. Hugo doesn't allow running subprocesses (see gohugoio/hugo#796), so such a mechanism would have to run out-of-band, thus complicating the site build step. Not terrible, but it makes `hugo serve` not directly usable.

I looked at the [GCP Go samples](https://github.com/GoogleCloudPlatform/golang-samples/) and the approach there seems to be to use magic comments li

[2019-04-16 23:53] vangent commented on #1827
My two cents: it sounds like it would work, but I'm not sure the work you described is worth the benefit relative to keeping the examples in godoc and linking to them from the site, at least right now.

[2019-04-17 15:33] vangent commented on #1830
And make more RPCs later if there aren't enough? If the filter is strong, double may not be enough. E.g., what if the filter is on a unique-valued key?

[2019-04-17 15:59] #1808 closed

[2019-04-17 16:46] jba commented on #1830
Yes, that's the tradeoff.

[2019-04-17 17:13] shantuo commented on #1832
7. Firestore produces error messages when a certain query fails to suggest the user to create certain query. We might do something similar here that when we fall back to use Scan, we can produce a warning and guide them to make their query more efficient.

[2019-04-17 23:10] zombiezen commented on #1827
It's not terribly much work: #1847 is my proof of concept that does 90% of what I just outlined, including pulling in the appropriate imports.

[2019-04-18 01:18] #1696 closed

[2019-04-18 15:53] zombiezen opened #1849 "blob: Bucket.Attributes returns a value instead of a pointer"
While recently porting some old code over to using the Go CDK, I was surprised to discover that `blob.Bucket.Attributes` returns `blob.Attributes` as opposed to `*blob.Attributes`:

https://github.com/google/go-cloud/blob/0c1c45556d4bd0186aa4ecffa7afb72607067c97/blob/blob.go#L562-L566

As of 0c1c45556d4bd0186aa4ecffa7afb72607067c97, `blob.Attributes` contains 10 fields (totaling 152 bytes on linux

[2019-04-18 15:54] zombiezen commented on #1849
This also applies to `driver.Bucket.Attributes` as well.

[2019-04-18 16:39] zombiezen opened #1851 "blob/all: add a BeforeRead As hook (e.g., to set GCS preconditions for a read)"
### Is your feature request related to a problem? Please describe.

GCS supports a feature called [preconditions](https://cloud.google.com/storage/docs/generations-preconditions#_Preconditions) which informs the server to abort the read or write if conditions about the object's version are not met. This is useful for avoiding races in read-modify-write semantics. The way this is exposed in the GCS

[2019-04-18 21:58] zombiezen commented on #1827
@vangent asked over on [#1847](https://github.com/google/go-cloud/pull/1847#issuecomment-484698815):

The ongoing overhead is if you change the code inside an example, you will need to run a script that regenerates the data file. This is similar to the overhead if you introduce a dependency: you need to update `alldeps`. Number of modules does not change overhead (although running time may increas

[2019-04-19 01:50] shantuo opened #1857 "docstore/drivertest: remove the _kind field"
This field is added only because we need both a partition and a sort key to test query in dynamo, this makes the test not very "portable", for example, the `unnamed` test for create is commented out currently.

With the updated dynamo query, we should be able to test more portable collections and this field should be removed.

[2019-04-19 12:08] jba opened #1858 "docstore: support multi-field primary keys"
Currently, docstore assumes that a single field in the document is the unique key. Many document stores work this way, but not all: DynamoDB allows two fields to act as the primary key together (that is, each one individually may not be unique, but the pair is unique). If we want to portably support all document stores, we have to account for this case in the other drivers.

As an example, conside

[2019-04-19 12:09] jba commented on #1858
@shantuo @vangent

[2019-04-19 16:42] zombiezen opened #1859 "runtimevar: driver packages use NewVariable instead of OpenVariable"
### Is your feature request related to a problem? Please describe.

Our convention for constructing portable types has been to use `OpenFoo` instead of `CreateFoo` or `NewFoo` to avoid the connotation that this is creating a resource. (See #1715 and #158 for prior discussion.)

The `runtimevar` drivers pretty consistently use `NewVariable` as their opening constructor names.

### Describe the solu

[2019-04-19 17:17] zombiezen opened #1860 "all: consider unifying compound ID handling"
(This is a write-up of a cross-cutting problem that @vangent and I stumbled across, but with concrete data about affected APIs.)

**EDIT:** The purpose of this issue is to discuss the problem and determine what we want to do about it (even if the answer is "nothing").

/cc @clausti @eliben @jba @shantuo

### Is your feature request related to a problem? Please describe.

Many cloud providers have

[2019-04-19 17:41] zombiezen commented on #1827
I'm hearing objections about cost of doing this, and it seems to have moved from being upfront cost to ongoing cost. For any cost-benefit analysis, we also have to weigh the benefit. I think there's substantial end-user benefit in solving this problem (more on that in a moment). Solving it sooner rather than later puts us in a situation where we as a team (and external contributors!) can write hig

[2019-04-19 17:44] clausti commented on #1860
Would each of these be re-parsing from the whole string in order to return their specific component?

[2019-04-19 17:49] zombiezen commented on #1860
Yes, but likely each one could make optimizations. Since such usage would likely be for startup, my intuition is that performance isn't a large concern for these methods, but I could definitely be wrong.

I'm not fully convinced yet that we should address this issue or if so, whether the solution I propose is the right one. I'm opening the issue to start the discussion about what we as a team want

[2019-04-19 18:01] clausti commented on #1860
My initial thought is that if we are going to create named types (which seems good), we could still have a struct that has fields for the components and also the literal built string. That way, we wouldn't have to re-parse the string any time we'd want to get an attr out of it, and we could fall back to the literal string both on input (like if something was added to the structure of the key befor

[2019-04-19 21:04] zombiezen opened #1861 "internal/cmd/gocdk: implement minimal launch command"
The most minimal thing I can think of for this to do is to take a Docker image and get it to run with [Cloud Run](https://cloud.google.com/run/docs/). While the steps I outline below are specific to Cloud Run, the logic should be able to cleanly branch for other deployment environments.

The Docker image should already exist by the time `gocdk launch` runs (see #1807) and will be passed as a flag

[2019-04-19 21:37] shantuo commented on #1858
If we want to keep the unique ID design in the portable API, for dynamo we could have something like
[code]

- For the dev, our API appears true portable as they don't need to know about different nuances between providers, they just know they need one unique primary key for each document.
- For the ops, they will need to design the schema based on the providers and write the `ParseKey` function.

[2019-04-19 23:53] h7kanna commented on #732
What go library is being considered for this ? Sarama or https://github.com/segmentio/kafka-go ?

[2019-04-20 03:52] nhooyr commented on #908
Thoughts on a pointer vs a value options structure? I'm liking value options structures right now because then its immediately clear what this extra parameter is for versus nil which masks that.

You also don't need to think about whether there is a difference between `nil` and the zero value.

[2019-04-20 17:01] vangent commented on #732
I started with `segmentio/kafka-go` because the API seemed nicer, but I think it's one level of abstraction too high for us; in a way, it's trying to do something similar to what we're doing, building a nice Go API on top of the provider API. I also had issues making it performant. So, I'm currently using Sarama.

I have a PR that passes all of the conformance tests, but am still working out some

[2019-04-22 11:54] jba commented on #908
In cases where the options are infrequently used, it's too much of a burden to write `pkgname.Options{}` for every call.

[2019-04-22 12:15] jba commented on #1858
We could add `ParseKey`, but I'm not sure how often it would be used. For collections like the `HighScore` one I mention above, you'd still want the separate `Game` and `User` fields so you could query on them.

[2019-04-22 15:55] vangent opened #1863 "pubsub: clarify/document semantics of Send and SendBatch"
Since we batch user messages into `SendBatch` calls, it's not necessarily obvious what the semantics of an error returned from `Send` are.

For example, for a driver that iterates over the batch and sends them one by one, and returns an error for the last one, `n-1` messages were actually sent and 1 message not sent, but all `n` will get an error.

In other cases, retries may cause multiple sends.

[2019-04-22 16:13] vangent commented on #820
Different drivers set different handlers now, and all tests run with `--race`.

[2019-04-22 16:13] #820 closed

[2019-04-22 16:20] eliben commented on #1664
@clausti any updates here?

[2019-04-22 16:37] shantuo opened #1864 "docstore: create example on how to use IDFunc"
Based on the scenario discussed [here](https://github.com/google/go-cloud/pull/1856#issuecomment-485405352).

[2019-04-22 17:46] eliben commented on #1764
Should the title be saying `blob/azblob` or is this a pubsub issue?

[2019-04-22 17:50] vangent commented on #1764
It's `pubsub`; updated.

[2019-04-22 19:02] vangent commented on #1859
`secrets` has the same issue.

[2019-04-22 19:06] jba commented on #1863
`SendBatch` could return a richer error that describes exactly which sends failed. I think `Send` should report success as accurately as possible.

[2019-04-22 20:02] vangent commented on #1858
Can you clarify for me the ways in which the portable type uses the assumption that a single field is the unique ID? I understand how a document could violate that, but it's not obvious what the impact on docstore is without any changes.

I like Tuo's idea of trying to handle this via options in the DynamoDB constructor rather than the portable type.

[2019-04-22 20:03] #1859 closed

[2019-04-22 20:03] #1653 closed

[2019-04-22 20:04] #1849 closed

[2019-04-22 20:14] rolandcrosby opened #1871 "secrets: add KMIP support"
### Is your feature request related to a problem? Please describe.

I'd like to use a common interface when integrating my product with various key management systems to encrypt and decrypt secrets. The go-cloud secrets interface looks like it will do what I need for the cloud vendors' KMS implementations and Vault. I'm wondering if anyone has considered adding a go-cloud integration with KMS syst

[2019-04-22 20:19] vangent commented on #1871
Thanks for the idea! We'd need a client library to build on, and based on the popularity of the Go libraries you cited (0-1 Github stars for each, 1-2 contributors), I'd be hesistant to build on any of them.

Our hope is that Go CDK's portable type is your "common interface"... Given that we've covered the big 3 cloud vendors and Vault, are there other specific KMS systems you're interested in?

[2019-04-22 20:32] jba opened #1873 "firedocstore: fall back to scan on failing queries"
Firestore produces error messages when a certain query fails to suggest the user to create certain query. We might fall back to use Scan, we can produce a warning and guide them to make their query more efficient.

[2019-04-22 20:32] jba commented on #1832
I made this #1873.

[2019-04-22 20:35] #1833 closed

[2019-04-22 20:39] rolandcrosby commented on #1871
Thanks for the quick response! That makes sense, I just thought I'd check in case this was already on your feature backlog.

The CDK already covers the majority of KMS services that I've seen customer requests for. Vault is a common request, as are the AWS and Google Cloud services. The other ones I've gotten requests about are proprietary enterprise HSMs and KMS services, which generally appear t

[2019-04-22 21:05] jba commented on #1858
The portable type uses that assumption in only one place: when Create makes a new unique key for a document that's missing one.

All the options under consideration are driver options, not portable-type options.

[2019-04-22 21:45] vangent commented on #1858
Then I guess I don't follow how the original suggestion of a `func(doc docstore.Document) interface{}` helps at all, given that it later says "in doing so we lose the ability for Create to make up a primary key and store it back in the document". If that's the only problem we're trying to solve, how does a solution that doesn't solve it help?

Maybe `docstore` also has the requirement of being abl

[2019-04-22 22:07] jba commented on #1858
It's not a problem we're trying to solve, it's a casualty of the solution. The problem we're trying to solve is described in the first paragraph of the first entry of this issue.

Yup, makes sense to me too, which is why I've proceeded to implement this in all drivers.

[2019-04-22 22:18] shantuo opened #1877 "docstore: add options to constructors"
We should do this before moving out of internal.

[2019-04-23 11:28] #1832 closed

[2019-04-23 15:16] zombiezen commented on #1798
`cloudmysql` also has the same problem. I'll fix that too.

[2019-04-23 15:43] zombiezen opened #1881 "internal/cmd/gocdk: serve should rebuild server when source changes"
When `gocdk serve` runs, it should also watch for filesystem changes and use that to trigger a rebuild. To keep the transition graceful, `gocdk serve` should reverse proxy the HTTP traffic, waiting until the newly built server reports healthy to start serving traffic to the other server.

[2019-04-23 15:48] shantuo commented on #1651
Done.

[2019-04-23 15:48] #1651 closed

[2019-04-23 15:52] shantuo opened #1882 "docstore: write conformance benchmarks"
We are doing some level of optimization work now while we are trying to get all drivers work properly under the hood. It will be useful to add some benchmarks to give us some insights. Places like query, actionlist (order and unorder) are worth considering.

[2019-04-23 15:59] zombiezen opened #1883 "internal/testing: consolidate list of project modules"
### Is your feature request related to a problem? Please describe.

When a new module is added, it must be added to:

-  gocloud.code-workspace (see golang/go#30841)
-  internal/testing/listdeps.sh
-  internal/testing/runchecks.sh

Failure to do so means that tests silently don't run for the module. Especially if we start adding more submodules, this problem is going to get worse.

### Describe th

[2019-04-23 16:07] #1798 closed

[2019-04-23 16:29] jba opened #1886 "docstore/gcpfirestore: handle queries on the name"
Currently we delete the name field from a document, since it's redundant with the document's name. But we do not translate queries that mention the name field into the corresponding queries on the document name.

[2019-04-23 17:10] zombiezen opened #1890 "internal/cmd/gocdk: specify configuration mechanism"
In initial prototyping/design, @clausti and I proposed using a JSON configuration file whose path would be passed in via command-line flag and the server's port would be specified via command-line flag.

However, in examining some of our potential launch targets, I think it might make more sense to use environment variables for configuration. Especially for server port, there's precedence of using

[2019-04-23 19:01] #1858 closed

[2019-04-23 21:33] #1829 closed

[2019-04-24 05:04] shatil opened #1898 "blob/s3blob: Attributes.MD5 doesn't match MD5 sum of files"
### Describe the bug

`blob.Attributes.MD5` is _not_ the MD5 sum of the object for any object uploaded by using the S3 multipart API.

### To Reproduce

Upload objects that `blob/s3blob.Writer` and compare the `blob.Attributes.MD5` of each. You'll need to replace `BUCKET` in the code below with an S3 bucket's name.

[code]

You'll get something like this:

[code]

## Expected behavior

`blob.Attri

[2019-04-24 11:02] jba opened #1899 "mongodocstore: fields encode as lower-case"
The default encoder for the MongoDB driver lower-cases struct fields before encoding them. This is incompatible with the encoders of the other providers.

We should override the default encoder, which shouldn't be hard to do: we need to construct our own [RegistryBuilder](https://godoc.org/go.mongodb.org/mongo-driver/bson/bsoncodec#RegistryBuilder).

[2019-04-24 15:33] vangent commented on #1898
Thanks for the report. We were aware of this; this code:
https://github.com/google/go-cloud/blob/master/blob/s3blob/s3blob.go#L540-L564
is supposed to handle it (by leaving the `MD5` field blank for cases where the `ETag` isn't the real MD5.

 In particular, it is supposed to return an empty `MD5` for `ETag` like `"224e9d5312b17939f9f470622d3f529d-24"`, due to the `-24` suffix.

I will investigate

[2019-04-24 15:36] zombiezen opened #1900 "internal/gocdk: serve should restart crashed subprocesses"
### Is your feature request related to a problem? Please describe.

Currently, the `gocdk serve` command will `Wait` on the subprocess only after it attempts to kill the subprocess (i.e. after a successful reload or after an interrupt). This means it will not catch an early exit (e.g. due to a panic).

### Describe the solution you'd like

Once the subprocess reports healthy once, `gocdk serve` sh

[2019-04-24 15:47] vangent commented on #1898
It seems we were not checking the error when hex-decoding the `ETag` via `hex.DecodeString`, on the assumption that it would return `nil` on error. That's not the case; it returns whatever it has been able to decode. I sent a PR to check the error.

This will "fix" this behavior so that the `MD5` field is blank for S3 blobs uploaded in multi-parts, rather that incorrect.

[2019-04-24 16:33] zombiezen commented on #1175
Oh whoops: the function exists but keeping this open until #1735 and #1736 land.

[2019-04-24 16:35] zombiezen commented on #1172
Done as part of work for #1175.

[2019-04-24 16:35] #1172 closed

[2019-04-24 16:37] #1898 closed

[2019-04-24 17:05] shatil commented on #1898
Thanks for making quick work of this, @vangent. Can you recommend a way to compare hashes (MD5 or ETag or whatever is available to compare) for multipart uploads?

[2019-04-24 18:01] zombiezen commented on #1806
Requested research: `go mod init` determines the import path using this function: https://github.com/golang/go/blob/2417b0d0067b192e7cca05c00d9874617607fa81/src/cmd/go/internal/modload/init.go#L507-L577

In summary, `go mod init` will use the first available of:

1. Import path given on the command-line.
2. [Import comments](https://golang.org/cmd/go/#hdr-Import_path_checking) in current directory

[2019-04-24 18:55] vangent commented on #1898
You are welcome!

* You can use `Size` as a first check.
* If the blobs are the same size, and the provider doesn't give us an MD5, I'm not sure what you can do other than download the file contents.

If you like, and if you want to compare S3 blobs to S3 blobs, you can use `As` to access the underlying S3 types and compare their `ETag`s directly. However, I'm not sure if that even works for multi

[2019-04-24 19:14] shantuo commented on #1675
For query, there are two things we could support:

1. `BeforeQuery` for query to let the user modify the request before query runs
1. `As` for iterator to let the user directly access the query output

For action list, it is a bit complicated, as we are doing group actions and the user shouldn't know about the grouping. For example, if the user does `coll.Actions().Get(doc1)...Get(doc100).BeforDo(

[2019-04-24 20:19] eliben commented on #626
The record/replay infrastructure we currently use for blob testing (`go-vcr`) doesn't deal well with non-determinism, and concurrent tests will produce non-deterministic orders of requests/responses.

We'll be looking into using `httpreplay` for blob conformance tests

[2019-04-24 21:22] jba commented on #1675
In conversation, we decided to go with a single `BeforeDo` per action list. Its argument, a callback function, will be invoked multiple times, one for each RPC input. For example, if an action list is divided into three separate batch RPCs, the `BeforeDo` callback will be invoked three times.

[2019-04-24 22:11] vangent commented on #1670
Done!

[2019-04-24 22:11] #1670 closed

[2019-04-24 22:17] jba opened #1906 "docstore: support times as query filter values"
We currently only advertise support for strings and integers as the third arg to `Query.Where`. We should allow `time.Time` too.

[2019-04-24 22:45] shatil commented on #1898
Thanks for the hint about `Size`! Using that with an existing object's `ETag`, I think you can calculate the part size in a multipart upload, assuming equal-sized parts (except for the last one). Part sizes round to the next multiple of one mebibyte (1048576 bytes), and `ETag` tells us how many parts there are.

[code]

Knowing the number of parts and the size of each part, we can reliably calcula

[2019-04-24 23:56] shatil commented on #1898
Never mind, that approach is unreliable. E.g., this popular WordPress plugin's video file: https://www.google.com/search?q=webproductlight%2Fofficeloop_low.mp4

Uploaded using AWS CLI or AWS SDK Go's `PutObject`:

[code]

Uploaded using `blob.s3blob.Writer` (and `s3manager.Uploader` for good measure):

[code]

My calculation produces `df39d80a88938a11033dd182308d1dc2-2` for `ETag`, which is clearl

[2019-04-25 02:34] vangent commented on #1898
Do you mind if I ask what you are actually trying to do? It seems like you're trying to use `ETag` to do something but it's not obvious exactly what that is.

* `ETag` is S3-specific, so even if you can get it to work it won't be cross-platform.
* I suspect you can identify 99% of files that are different by just comparing the `Size` of the two files, although it likely depends on the application

[2019-04-25 03:17] vangent opened #1907 "pubsub: add an As hook for sending a message"
We have a `Message.As` for accessing the provider's type for a received message, but no way for a user to set provider-specific things as a message is being sent.

[2019-04-25 05:46] h7kanna opened #1908 "pubsub: add support for amazon kinesis"
### Is your feature request related to a problem? Please describe.
Add pubsub implementation based on Amazon Kinesis.

### Describe the solution you'd like
I did not check the exact details of the pubsub interface design and if it supports Amazon Kinesis, but If it is possible please add Kinesis support.

### Additional context
I found below Golang packages for Kinesis which may be used for implem

[2019-04-25 10:32] jba opened #1909 "docstore/gcpfirestore: filter in client for queries that the service can't handle"
Firestore doesn't allow queries that have two non-equality filters on different fields. We will handle those by sending the first filter to Firestore, and evaluating the rest on the client.

This issue is split off from #1769.

[2019-04-25 13:50] Lscchina opened #1912 "runtimevar/etcdvar: etcd type mismatch"
### Describe the bug

I imported gocloud for version: gocloud.dev v0.13.0, and then when I compile my project , I get an error: cannot use cli (type *"go.etcd.io/etcd/clientv3".Client) as type *"github.com/coreos/etcd/clientv3".Client in argument to concurrency.NewSession

### To Reproduce
1.My project imported etcd for version: v0.0.0-20181109213058-9454c4cab09b
2.I  import gocloud for version: g

[2019-04-25 15:52] jba commented on #1908
That doesn't look like a pubsub system. It looks like a streaming analytics system like Apache Spark or Google Cloud Dataflow.

[2019-04-25 16:20] h7kanna commented on #1908
Hi, I mean AWS kinesis Data streams

[2019-04-25 17:34] zombiezen opened #1914 "internal/gocdk: consider serving non-HTTP requests"
_Originally posted by @vangent in https://github.com/google/go-cloud/pull/1903/files/10003ea8883ba9cec878ed7e335c5a4190695952_

[2019-04-25 18:46] vangent opened #1916 "blob/gcsblob: permit setting of GCS preconditions for write"
See #1851 for context. This issue is specifically to give `As` access to the `ObjectHandle` during writes.

[2019-04-25 18:47] vangent commented on #1851
I split the writing part to a separate issue since that seems like it might be fairly straightforward.

To solve this on the reader side, we'd likely need to add a `BeforeRead` hook to `ReaderOptions`, which is a larger change.

[2019-04-25 19:53] #1907 closed

[2019-04-25 20:33] zombiezen opened #1918 "internal/gocdk: permit init in existing directory"
### Is your feature request related to a problem? Please describe.

As a user of the `gocdk` CLI, I may want to run `gocdk init` on an existing directory, perhaps because I created the directory through my IDE or I want to start using the CLI for my local development or deployment.

### Describe a solution you'd like

(Treat this as a possible solution in the space, not as a final design.)

When p

[2019-04-25 22:00] #1916 closed

[2019-04-26 01:57] shatil commented on #1898
My objective was to forestall the upload of files already in the bucket. I'm synching binary and text files (just 10,000 files, but growing) to S3 from EC2, where they're generated every so often. I was using `aws s3 sync` originally, which examines file size and timestamp only, and it was taking too long since timestamps change when files are generated.

In retrospect, this is what I should've do

[2019-04-26 16:57] vangent commented on #1075
[code]

[code]

[2019-04-26 19:34] #732 closed

[2019-04-26 20:59] eliben commented on #1912
Can you please clarify what you'd like to see happen here?

AFAICT, the github dependency comes from within etcd itself. Consider:

[code]

And:

[code]

And in our `go.mod` file it's marked as indirect for this reason.

Can you provide a small reproducer that demonstrates your problem? If I undestand correctly you have a project that doesn't build because of etcd version mismatch

[2019-04-26 21:13] #1827 closed

[2019-04-26 23:24] eliben commented on #1766
Which implementations is this issue still blocked on?

[2019-04-26 23:41] vangent commented on #1766
All, plus the portable type (i.e., this feature has not been started at all).

[2019-04-27 00:38] vangent commented on #770
@eliben is working on this, he's already converted GCS and S3.

[2019-04-27 00:38] vangent commented on #770
Only a couple more before we can delete the go-vcr dependency!

[2019-04-27 00:40] vangent opened #1940 "testing/travis: run local dependencies on Travis via Docker"
We have a few drivers that can only be tested by running a local instance via Docker (e.g., `kafkapubsub`, `mongodocstore`, `rabbitpubsub`).

Let's see if we can get that to happen on Travis!

[2019-04-27 00:41] vangent commented on #1666
It seems likely that we can run a local Mongo instance via Docker on Travis; see #1940. So, this doesn't seem necessary.

[2019-04-27 00:41] #1666 closed

[2019-04-28 03:52] Lscchina commented on #1912
import (
	"context"
	"fmt"
	"math/rand"
	"time"

	"go.etcd.io/etcd/clientv3"
	"go.etcd.io/etcd/clientv3/concurrency"
	"gocloud.dev/runtimevar"
)

// KeepAlive 注册服务并保活，srv服务名称，addr可访问的地址，ttl单位是秒
func KeepAlive(ctx context.Context, cli *clientv3.Client, srv, addr string, ttl int) (err error) {
	for {
		err = keepAlive(ctx, cli, srv, addr, ttl)
		if err == context.DeadlineExceeded || err == context.C

[2019-04-29 17:11] vangent opened #1941 "docs/howto: provide anchors for sub-sections of how-to docs"
For example, https://gocloud.dev/howto/pubsub/subscribe/ has a section about NATS, but there's no way to link directly to it.

[2019-04-29 17:59] jba commented on #1899
Unfortunately, changing the encoding to preserve case isn't the answer. That will break interoperability with existing collections in which documents were created by the default encoder.

The problem in detail:

MongoDB itself is case-sensitive. The documents `{f: 1}` and `{F: 1}` are different.

The official MongoDB client for Go, `go.mongodb.org/mongo-driver/mongo`, supports struct encoding and

[2019-04-29 19:29] zombiezen commented on #1941
https://gocloud.dev/howto/pubsub/subscribe/#nats does what you need.

The how-to guides will auto-generated heading links, but the `## foo {#bar}` heading syntax sets an explicit anchor of `bar`.

[2019-04-29 19:54] vangent commented on #1941
The headers have anchors, but no explicit links. I'd like to add the link. Compare [before](https://screenshot.googleplex.com/4LSmUNo91pC) to [after](https://screenshot.googleplex.com/tcJmASQ3HK2).

[2019-04-29 19:55] vangent commented on #1940
Fixed by #1942.

[2019-04-29 19:55] #1940 closed

[2019-04-29 20:35] zombiezen commented on #1941
Oh I see, you are looking for a UI element that provides that link. I'd like to find a non-JavaScript way of providing that UI element if possible.

[2019-04-29 21:00] vangent commented on #1941
Feel free to suggest something. This is the best I could find.

[2019-04-29 21:13] vangent opened #1948 "internal/cmd/gocdk: add minimal add-portable-type command"
* Add a portable type like `blob.Bucket`.
* Add code to the user's project demonstrating use of the type.

[2019-04-29 22:05] eliben commented on #1912
Thanks for the reproducer. If I remove all mentions of gocloud from it, I still get the same error. See this directory: https://github.com/eliben/gocloud-samples/tree/master/runtimevar-etcd

If you clone it and cd inside, and run `go build`, you get:

[code]

[2019-04-29 22:17] eliben opened #1950 "pubsub/rabbit: TestCancelSendAndReceive seems to be flaky"
Example where it failed on Travis: https://travis-ci.com/google/go-cloud/jobs/196471448

@vangent says it failed once when running with `-count 100`

[2019-04-29 22:28] eliben commented on #1950
I can also reproduce this. Steps:

1. Make sure a local instance of RabbitMQ is running. `./internal/testing/start_local_deps.sh` can help.
2. cd into `pubsub/rabbitpubsub`
3. Run `go test --count=100 -v --run TestCancelSendAndReceive`

[2019-04-29 22:41] vangent commented on #1950
@jba this test overlaps (at least in name) with `TestConformance/TestCancelSendAndReceive`. Do you think we can just delete it? I spent some time digging into what Rabbit is doing, and it looks like sometimes it shuts down the entire `Connection` instead of just the `Channel`.

[2019-04-29 23:33] eliben commented on #626
@vangent would you like to see additional concurrent tests beyond #1952?

[2019-04-29 23:55] vangent opened #1954 "internal/cmd/gocdk: build errors in "serve" are reported as being from "wire""
Ignore the actual build errors, the bug is that "gocdk serve" is telling me the errors are from `wire` instead of from `go build`.

[code]

[2019-04-29 23:56] vangent commented on #626
Nope, LGTM!

[2019-04-29 23:56] #626 closed

[2019-04-30 06:38] Lscchina commented on #1912
Thanks. in your sample's go.mod file, the etcd version is "go.etcd.io/etcd v3.3.12+incompatible", it can cause the error. and this version is same with gocloud's etcd version.
If you use another version, such as "go.etcd.io/etcd v0.0.0-20181109213058-9454c4cab09b", it will run well.
[code]
above is my go.mod

[2019-04-30 12:08] jba commented on #1950
I'm okay with deleting it.

[2019-04-30 15:30] zombiezen commented on #1941
Oops, this is a generation-time hack, I misunderstood. (The blog URL confused me.) I think this is fine, I'll suggest some things on the PR. Thanks Robert!

[2019-04-30 16:17] zombiezen opened #1958 "secrets/vault: stop depending on Vault root module in test"
### Describe the bug

Our integration test spins up a Vault instance by linking in the code and running it in-process AFAICT. Vault recently split their repository into submodules: `github.com/hashicorp/vault`, `github.com/hashicorp/vault/api`, and `github.com/hashicorp/vault/sdk`. However, they have not released a version of the `vault` top-level module that excludes the `api` packages. This caus

[2019-04-30 16:23] #1075 closed

[2019-04-30 16:35] vsaroopchand commented on #1764
Added an Issue and PR to resolve this in SB SDK
https://github.com/Azure/azure-service-bus-go/issues/128

[2019-04-30 17:07] eliben commented on #1912
It seems like you should open an issue for the etcd repository. Please link it here so we can follow along. Their repo seems to have a go.mod, so I'm not 100% clear on why they released 3.3.12 without it

[2019-04-30 17:59] jba commented on #1857
This was fixed by #1910.

[2019-04-30 17:59] #1857 closed

[2019-04-30 18:07] #1950 closed

[2019-04-30 18:09] vangent commented on #965
The benchmark test does this, as does `TestBatching`.

[2019-04-30 18:09] #965 closed

[2019-04-30 22:40] #1941 closed

[2019-05-01 17:25] eliben commented on #770
TODO: factor out creation of replay directory - it's repeated in all the users of httpreplay

[2019-05-01 20:39] jba opened #1969 "docstore: remove isStruct argument from codec"
We rewrote the mongo codec so it doesn't need to distinguish between maps and structs, so we no longer need this.

[2019-05-01 21:49] eliben commented on #1958
Yikes. This seems to interfere with work on #886 because I'll need to run the equivalent of `go mod tidy` in the "new" `contrib/secrets/vault` place.

[2019-05-01 22:20] eliben opened #1971 "docstore/dynamodocstore: switch to use httpreplay"
`docstore/dynamodocstore` is the only remaining user of go-vcr for AWS. I'm trying to port it to use `NewAWSSession2` (which uses httpreplay) but am running into issues, like:

[code]

Also there seems to be a cool-off of 10 minutes on running against the AWS dynamo store, otherwise I keep getting `IdempotentParameterMismatchException`

@shantuo can you please port this?

Related to #770

[2019-05-01 22:21] eliben commented on #770
This is currently blocked by #1971

[2019-05-01 22:41] eliben opened #1972 "gcppubsub: conformance tests -record fails in clean client"
### Describe the bug

Running conformance tests recording fails in `pubsub/gcppubsub`

### To Reproduce

In a clean master client (with proper credentials):

[code]

Getting failure:

[code]

[2019-05-01 23:02] eliben commented on #770
... and blocked (to some degree) by #1973

[2019-05-01 23:07] jba commented on #1972
As a general rule, I don't think our tests should create resources. That should be done once per project/account and out of band, by terraform or a shell script.

[2019-05-01 23:08] eliben commented on #1972
Agreed

[2019-05-01 23:11] vangent commented on #1972
You should be able to unblock this by going to the UI and deleting that
topic (and likely subscription as well). It's likely that the tests were
interrupted and didn't get a chance to clean up after themselves.

A one time provisioning using terraform might work, but would likely lead
to other forms of flakiness (e.g. undelivered messages remaining in a topic
between runs).

On Wed, May 1, 2019, 4

[2019-05-01 23:11] jba commented on #1971
@shantuo I think to fix the first problem (which I've also seen), we need to clear the collection before the test. (And after too, if you like.)

Also, we can fix the second problem with the new recorder by using time.Now().Unix() to seed https://github.com/google/go-cloud/blob/master/internal/docstore/dynamodocstore/dynamo_test.go#L111, and storing it in the initial state of the recorder.

[2019-05-01 23:52] shantuo commented on #1971
Is that because we are running the tests in parallel?

[2019-05-02 10:01] #1899 closed

[2019-05-02 10:05] jba commented on #1971
I don't think we are. It's that the mia and steph documents are added before the query test, or that the query test crashes in a previous run before it can delete the collection, so they are still there on the second run.

[2019-05-02 10:33] shouichi opened #1976 "server: logged traces are always empty"
### Describe the bug

Server always logs empty traces (i.e., `"logging.googleapis.com/trace":"00000000000000000000000000000000"`).

### To Reproduce

Run server with logging on.

[code]

## Expected behavior

It should output non-empty traces (e.g., `"logging.googleapis.com/trace":"ed9828b4ed67b6600c1e0c2ba1782f01"`).

### Version

`v0.13.0`.

### Additional context

None.

[2019-05-02 11:45] Zyqsempai commented on #1175
@zombiezen Please check all the related PR's #1735 #1736 and #1975

[2019-05-02 16:20] #1851 closed

[2019-05-02 16:25] zombiezen commented on #1958
Yeah, this isn't great. I think we should fix it sooner rather than later, because it feels like a landmine.

[2019-05-02 17:20] clausti opened #1980 "secrets/localsecrets: Remove stringkey scheme"
Per @vangent's [comment](https://github.com/google/go-cloud/pull/1960#discussion_r279927536) on the fix for #1664,

Splitting this into a separate issue because removing the `stringkey` means touching the` URL Opener`.

[2019-05-02 17:43] eliben commented on #1958
Any ideas for a fix? In a separate experiment it seems that `go mod` gets confused about usage of vault in general now for code that both imports the main path and `api`

[2019-05-02 17:46] #1664 closed

[2019-05-02 17:50] zombiezen commented on #1958
My proposed solution is to run Vault from a Docker container like how we're handling other dependencies rather than trying to link it in (i.e. remove the main Vault module dependency).

[2019-05-02 18:38] shantuo commented on #1958
There also needs to be some change on the `makeHarness` of the vault tests as we'll need to do some more setup to use the vault binary instead of the test server IIRC. I can take a look at this one.

[2019-05-02 19:30] Tazer commented on #1661
@zombiezen seems you have fixed all those issues :)

Thinking if the item should be closed? Was hunting for some stuff to grab but notice this was already done. ✅

[2019-05-02 19:48] zombiezen commented on #1661
Yes, this is stale now. Thanks for triaging, that helps!

[2019-05-02 19:48] #1661 closed

[2019-05-02 20:11] eliben commented on #1661
@Tazer, check out other issues with the "good first issue" tag

[2019-05-02 20:19] eliben commented on #1972
Thanks, @vangent this fixed the problem for this test.

I think it's ok for tests to create topics/subscriptions as long as they clean up after themselves. It could help if we modified the test to remove these topics/subscriptions if they already exist before creating. WDYT?

[2019-05-02 20:51] vangent commented on #1972
Sure, that would make them more stable, but it might also make them slower. Probably fine since `-record` doesn't happen often. They might still be flaky since some providers don't let you delete and then recreate a resource quickly (you get an error that says try again in 1 minute or whatever).

Another approach would be to create a new *different* topic/subscription every time (e.g., put timesta

[2019-05-02 20:58] eliben commented on #1972
I was thinking keep the code as it is now, but also add a check to delete topics if they already exist before the test starts. This would be rare in practice (only when these leftovers happen)

This could work too. Since the tests do cleanup most of the time the number of orphaned topics should be small

[2019-05-02 21:09] jba commented on #1972
In my experience, there are many orphans. But we ran integration tests in CI.

We went with different topics on each run because we were worried about concurrent runs—what if the CI or a teammate is running the test at the same time as you? That's not a concern for us because we use replay. So let's keep it simple. Even simpler than deleting is to ignore the Create error if it's `AlreadyExists`.

[2019-05-02 21:13] eliben commented on #1972
But then what about leftover messages in the topic from the previous test run? These can fail the test.

Actually your point about concurrent runs is good too. Theoretically, multiple team members could be recording at the same time (or at least testing with recording on). I guess we were just getting lucky until now

[2019-05-02 21:27] Tazer commented on #14
When looking around a little there seem to be a http plugin for open census **ochttp**
https://github.com/census-instrumentation/opencensus-go/blob/master/examples/http/helloworld_server/main.go#L89

Not sure if it even would be a possibility to use that plugin? Anyway they have some defined standard metrics

Server:
https://github.com/census-instrumentation/opencensus-go/blob/master/plugin/ochttp

[2019-05-02 21:58] jba commented on #14
You should use that plugin. See https://code.googlesource.com/google-api-go-client/+/refs/heads/master/transport/http/dial.go.

[2019-05-02 21:59] jba commented on #1972
I don't think concurrent execution is worth worrying about. Recording is rare.

Leftover messages can be a problem, though. So delete + create may be best.

[2019-05-02 22:30] #1969 closed

[2019-05-02 23:31] eliben commented on #1972
#1989 is a straw-man to address this for gcppubsub

[2019-05-03 15:09] zombiezen opened #1990 "all: Azure go-autorest causing ambiguous import"
@clausti just encountered this error while trying to build on a PR:

[code]

(Similar to #1958)

[2019-05-03 15:28] zombiezen opened #1991 "internal/cmd/gocdk: allow interspersing of positional arguments"
The new `gocdk` command uses the Go `flag` standard library package, which notably does not permit any flags after the positional arguments. Concretely, for something like:

[code]

does not permit:

[code]

This likely means that we need to use a different flag-parsing library.

[2019-05-03 16:41] #1971 closed

[2019-05-03 17:20] eliben opened #1994 "website: hugo seems to keep generating "changing" sitemap.xml files"
See https://github.com/google/go-cloud/commit/332c1bde650b09ca2589871809e0ae6 -- we have many commits every day to gh-pages, which essentially reshuffle the `sitemap.xml` file order.

Robert suggests trying a newer Hugo version

Or we could open an issue for Hugo

[2019-05-03 17:55] vangent commented on #1994
I filed https://github.com/gohugoio/hugo/issues/5934.

[2019-05-03 18:46] #1972 closed

[2019-05-03 18:48] #770 closed

[2019-05-03 19:16] zombiezen commented on #1994
I agree with Robert's assessment here: this seems like an issue with upstream Hugo.

[2019-05-03 19:17] eliben commented on #1994
The default Hugo `sitemap.xml` template uses:

[code]

We could create our own template that uses a sorted range? (`range sort`)?

[2019-05-03 19:21] #1976 closed

[2019-05-03 20:01] eliben commented on #1994
#1996 should address this for now (I hope). Will keep a watch on the commits to gh-pages to see if the spurious sitemap updates stop. Leaving open for now to see if this gets fixed and what bep says on the Hugo issue

[2019-05-03 20:15] vangent opened #1997 "gocdk: revisit how help is generated"
IMHO we need to take an overall look at how `-help` works.

Some examples:

* `gocdk help` doesn't work; it should give a list of available commands. Ideally `gocdk help <command>` would give more details on that command.

[code]

* `gocdk <command> --help` shows the available flags but not the actual usage message including non-flag arguments:

[code]

* Using an wrong flag shows the full usage,

[2019-05-03 20:17] zombiezen commented on #1991
FWIW, I solved this in gg by making a smallish clone of the `flag` package: https://godoc.org/gg-scm.io/pkg/internal/flag

[2019-05-03 20:18] vangent commented on #1991
github.com/google/subcommands is another possibility.

[2019-05-03 20:18] zombiezen commented on #1810
Link to gg source: https://github.com/zombiezen/gg/blob/c2ce6c1b011cd5cdfaf92b1f1fd42df508c0dc3d/cmd/gg/main.go#L263-L271

[2019-05-03 20:19] vangent commented on #1991
(although actually, I think it uses `flag` internally so it may not solve this)

[2019-05-03 20:49] eliben commented on #1883
I can see us having some single place where all the modules in the repo are listed, and the shell scripts reading from there. Not sure how this applies to the vscode config file though - can it actively read from a separate file? Or would it need to be some sort of codegen (config-gen) solution for that case?

[2019-05-03 20:56] eliben commented on #1990
Exact reproduction steps? (@clausti ?)

Seems to work for me calling `go build` in `samples/gocdk-pubsub`. Tried clearing modcache and re-running, still works

[2019-05-03 20:59] eliben commented on #1912
FWIW #1987 reduced some dependencies on etcd-modules, though it's not clear whether this will resoleve your problem. I'd still recommend opening an upstream issue for etcd

[2019-05-03 23:04] clausti commented on #1990
I was working on [the branch for this PR](https://github.com/google/go-cloud/pull/1945) (which had commits from @zombiezen on it), but I don't recall exactly what proceeded it, and it's not repro-ing for me now, either.

We can reopen if anyone else sees it?

[2019-05-04 02:56] #1980 closed

[2019-05-04 03:23] Lscchina commented on #1912
Thank you, i will open an issue for etcd

[2019-05-04 03:38] Lscchina commented on #1912
link from etcd https://github.com/etcd-io/etcd/issues/10480, they will fix this problom in v3.4

[2019-05-04 11:08] jba opened #1999 "mongodb: problems with bulk writes"
We'd like to use MongoDB's bulk write feature for performance. With bulk writes, we can issue multiple Create, Replace, Put and Delete actions in a single RPC. But we can't use them given the current semantics of Docstore actions.

We cannot use bulk writes for ordered action lists. Our semantics for ordered lists says that execution stops at the first error, and so does the semantics of ordered B

[2019-05-05 12:12] jba opened #2000 "blob: benchmarks do not use b.N"
The blob benchmarks in drivertest do not loop `b.N` times. See https://godoc.org/testing#hdr-Benchmarks.

[2019-05-05 13:01] jba commented on #1999
I ran some simple benchmarks, using a local, single-node instance of MongoDB. I put `n` items into a collection, then timed how long it took to delete them.

For 10 items, sequentially deleting them (i.e. 10 `DeleteOne` RPCs, one after the other) was 5x slower than bulk ordered, for 100 items, it was 13x slower.

For 10 items, 10 concurrent `DeleteOnes` were 1.5x slower than bulk unordered; for 10

[2019-05-06 15:51] vangent commented on #2000
Both `blob` benchmarks call the `b.RunParallel` helper, which "creates multiple goroutines and distributes b.N iterations among them".

[2019-05-06 15:51] #2000 closed

[2019-05-06 16:02] vangent opened #2003 "aws: add a helper for creating the default aws.Session"
There's a wire providerset, but we should be able to write an actual function (and use it in a few URLOpeners).

[2019-05-06 16:03] #1881 closed

[2019-05-06 16:13] zombiezen commented on #1883
VSCode would need code-gen, yeah.

[2019-05-06 18:56] shantuo opened #2004 "docstore: queries take a logger and log query plans with it"
We have a `QueryPlan` method to return the actual query plan we do for a specific query. We could take in a logger and log this information with it so that the user does not need to call the plan explicitly.

[2019-05-06 19:02] shantuo opened #2005 "testing: explore options to check local container status before running tests"
We discussed in the vault [PR](https://github.com/google/go-cloud/pull/1983#discussion_r281254551) that we want to get a sync point after localXXX.sh boots a container of a certain server for testing.

There are a few options:
1. Do nothing more, we set a timeout on the constructors and fail if the server is not up after a few seconds.
1. Wait a few seconds after the container starts and check its

[2019-05-06 19:12] #1958 closed

[2019-05-06 20:57] shantuo commented on #2005
For Travis runs, we should detect and run these local tests on Linux only. Currently we skip the tests because the mac builds don't have these containers running, we should remove the `Skip` part.

[2019-05-06 21:01] jba commented on #2004
I believe that programs will want to look at the plan. Right now it returns a string,  but I think that will have to change.

[2019-05-06 21:48] zombiezen commented on #1861
Taking this from @vangent as discussed offline. I've prototyped this last week: I'll send out PRs that implement the Cloud Run functionality described above.

[2019-05-07 02:42] chaserchen opened #2010 "opencensus: how do I turn off span creation?"
I use pubsub module to receive queue message.
When I start my subscriber service, create to many spans like "driver.Subscription.ReceiveBatch".
I found this code in a for loop and I can't stop it.
https://github.com/google/go-cloud/blob/master/pubsub/pubsub.go#L679

Now, I don't need these spans like "driver.Subscription.ReceiveBatch", What can I do?

Thanks

[2019-05-07 11:48] Rolinh opened #2011 "pubsub: consider exposing driver Subscription.SendAcks/SendNacks"
### Is your feature request related to a problem? Please describe.

I am developing an application which collects messages with `Subscription.Receive()`, compresses multiple `Message.Body` into a byte slice and uploads the result to a blob storage service. One of the application's main constraint is that no message can ever be lost (even if the application crashes, force-restarts, etc).
As `Ack()`

[2019-05-07 14:51] jba commented on #2011
I think setting `Body` and `Metadata` to nil is a perfectly reasonable solution.

[2019-05-07 14:58] jba commented on #2010
How are the spans bothering you? Are they slowing down your program, cluttering the trace UI, etc?

Do you just want to disable these particular spans, or others as well?

[2019-05-07 15:13] chaserchen commented on #2010
I think cluttering the trace UI.
Yes, I want to disable these particular spans, What can I do?

[2019-05-07 16:31] zombiezen opened #2013 "internal/gocdk: add automated tests for launch"
I'm sending out the launch command for review, but I haven't found a satisfactory way to test the command. The process is by definition non-hermetic: it is taking a binary and making it available in a different location. HTTP/RPC replay may help a little, but it won't make the application available at the address claimed by the launcher, which is an important property to test.

The local launcher

[2019-05-07 17:03] vangent commented on #2011
+1, that seems like a reasonable solution.

[2019-05-07 17:03] #2011 closed

[2019-05-07 17:10] vangent commented on #2010
@jba can you make a suggestion here?

[2019-05-07 17:12] eliben commented on #1994
I don't see spurious commits to gh-pages any more, so closing as fixed.

[2019-05-07 17:12] #1994 closed

[2019-05-07 18:12] Rolinh commented on #2011
Thank you for your input.

[2019-05-07 19:11] vangent commented on #2013
Can we test the local launcher using HTTP requests to the local port? It seems like we're doing that already to some extent using `waitForHealthy`. I'm doing something similar in the `ptype-add` tests (PR coming as soon as the base one is approved).

I agree that the remote launchers are going to be tough to test. HTTP replay might be good if `-record` works for it.

[2019-05-07 20:16] clausti opened #2015 "internal/cmd/gocdk: use static.go templating for init"
Per @vangent's [comment](https://github.com/google/go-cloud/pull/1945#discussion_r280877792) on the first pass at init, we should modify the templating used by init to the `go generate`/`static.go` approach from https://github.com/google/go-cloud/pull/1962/files

[2019-05-07 21:30] jba commented on #2010
What OpenCensus provider/UI are you using? I'd like to understand what you're seeing. Can you attach a screenshot?

[2019-05-07 22:14] clausti opened #2016 "internal/cmd/gocdk: Add tests for init inferring module path"
As a followup to https://github.com/google/go-cloud/pull/1945, we need more tests of the behavior of `init` when the `--module-path` option is not supplied.

[2019-05-07 23:04] vangent opened #2017 "pubsub/kafkapubsub: flaky data race in tests"
[code]

[2019-05-07 23:14] jba commented on #1332
Done a while ago.

[2019-05-07 23:14] #1332 closed

[2019-05-08 01:53] chaserchen commented on #2010
I using Jaeger UI.

[2019-05-08 02:00] chaserchen commented on #2010
I using Jaeger UI.
When I started my subscriber service, created 610 traces in 1 minute.
![Screenshot from 2019-05-08 09-53-58](https://user-images.githubusercontent.com/7067965/57343864-a8e2e600-7177-11e9-97d1-c8947c6e2b97.png)

[2019-05-08 02:01] chaserchen commented on #2010
My codes is:

[2019-05-08 02:02] chaserchen commented on #2010
codes like this:
[code]

[2019-05-08 09:42] #2017 closed

[2019-05-08 16:00] #1806 closed

[2019-05-08 16:36] eliben commented on #2005
@shantuo I'm raising the priority of this since I'm concerned we're not testing a bunch of code in all scenarios as long as we're skipping by default. There shouldn't be anything blocking this right now, correct me if I'm wrong

[2019-05-08 16:39] eliben commented on #1991
FWIW I'm OK with using featured libraries like viper to build `gocdk` itself. As long as their imports don't seep into generated code users see :-)

[2019-05-08 16:42] eliben commented on #1908
@h7kanna we're currently focused on the existing set of providers. We'll be happy to review concrete proposals to add new providers - would you like to take a stab at this?

[2019-05-08 16:49] eliben commented on #1338
Closing this issue since there's been much progress on docstore and several more specific issues were opened/fixed since then. Please reopen if this is still relevant, with more information.